<html>
  <head>
    <title>${lang("confirm.htmltitle")}</title>
  </head>
  <body>
  <include "admin/head_nonavi.template">
<table width="100%" border="0" align="center">
  <tr bgcolor="#006600"> 
    <td colspan="2"> 
      <h2 align="center"><font color="#ffffff">${lang("confirm.really_delete")}</font></h2>
    </td>
  </tr>
  <tr> 
    <td colspan="2">
      <form method="post" action="${config.actionRoot}">
        <div align="center">
          <input type="hidden" name="module" value=${data.module}>
          <input type="hidden" name="do" value="delete">
          <input type="hidden" name="id" value="${data.id}">
          <input type="hidden" name="where" value="${encodeHTML(data.where)}">
          <input type="hidden" name="order" value="${encodeHTML(data.order)}">
          <input type="hidden" name="query_text" value="${encodeHTML(data.query_text)}">
          <input type="hidden" name="query_field" value="${encodeHTML(data.query_field)}">
          <input type="hidden" name="query_is_pubished" value="${data.query_is_pubished}">
          <input type="hidden" name="query_media_folder" value="${data.query_media_folder}">
          <input type="hidden" name="offset" value="${data.offset}">
          <input type="submit" name="cancel" value="${lang("cancel")}">
          <input type="submit" name="confirm" value="${lang("delete")}">
        </div>
      </form>
    </td>
  </tr>
</table>
<include "admin/foot.template">
  </body>
</html>
