<html>
<head>
	<title>${lang("featurelist.htmltitle")}</title>
</head>

<body bgcolor="#FFFFFF">
<include "admin/head.template">


<if data.contentlist>
<table border="0">
  <tr bgcolor="#006600">
    <td><font color="#ffffff">${lang("feature.published")}</font></td>
    <td><font color="#ffffff">${lang("feature.title")}</font></td>
   <td><font color="#ffffff">${lang("feature.filename")}</font></td>
    <td><font color="#ffffff">${lang("feature.link")}</font></td>
    <td><font color="#ffffff">${lang("feature.abstract")}</font></td>
  </tr>
  <list data.contentlist as entry>
  <tr
  <if grey=="1"><assign grey="0">bgcolor="#dddddd" <else><assign grey="1"> </if>
  >
  <td align="center"><if entry.is_published!="0">X<else>&nbsp;</if></td>
  <td>${entry.title}&nbsp;</td>
  <td>${entry.filename}&nbsp;</td>
  <td>${entry.main_url}&nbsp;</td>
  <td>${entry.description}&nbsp;</td>
  <td><font size="1"> <a href="${config.actionRoot}?module=Schwerpunkt&do=delete&id=${entry.id}">${lang("delete")}</a>
  | <a href="${config.actionRoot}?module=Schwerpunkt&do=edit&id=${entry.id}">${lang("edit")}</a></font></td>
  </tr>
  </list>

  <tr>
    <td align="center" colspan="5" bgcolor="#006600">
      <div align="left"><font color="#ffffff">${data.count} ${lang("records")} /
        ${lang("show_from_to", data.from, data.to)}</font></div>
    </td>
    <td><a href="${config.docRoot}"><font size="1">&nbsp;${lang("back")}</font></a></td>
  </tr>
</table>

      <P>
<if (data.prev || data.next)>
 <form method="post" action="${config.actionRoot}">
 <input type="hidden" name="module" value="Schwerpunkt">
 <input type="hidden" name="where" value="${encodeHTML(data.where)}">
<if data.prev>
 <input type="hidden" name="prevoffset" value="${encodeHTML(data.prev)}">
 <input type="submit" name="prev" value="${lang("list.previous")}">
</if>
<if data.next>
 <input type="hidden" name="nextoffset" value="${encodeHTML(data.next)}">
 <input type="submit" name="next" value="${lang("list.next")}">
</if>
 </form>
</if>


<else>

  <P align="center">${lang("no_matches_found")}</p>

</if>

<include "admin/foot.template">
</body>
</html>


