<html>
<head>
	<title>${lang("edit")} ${lang("edit")}</title>
	<link rel="stylesheet" type="text/css" href="${config.docRoot}/admin.css">

</head>

<body bgcolor="#FFFFFF">

<include "admin/head.template">

<br>
<b>${lang("edit")} ${lang("edit")} :</b> ${encodeHTML(data.filename)}

<br>

<form action="${config.actionRoot}" method="post">

	<input type="hidden" name="module" value="FileEdit">
	<input type="hidden" name="filename" value="${encodeHTML(data.filename)}">
        <input type="hidden" name="do" value="update">


	 <textarea cols="66" rows="40" name="text" wrap=virtual>${encodeHTML(data.text)}</textarea>

<br>



        <input type="submit" name="save" value="${lang("save")}"> &nbsp;
        <input type="reset" value="${lang("reset")}">


</form>
<br>
<br>

${lang("preview")}

<hr size="4" width="90%" noshade>

${data.text}

<hr size="4" width="90%" noshade>
<br>

<include "admin/foot.template">

</body>
</html>


