<html>
<head>
<title>
${lang("linkimcs.htmltitle")}
</title>

<head>
<body bgcolor="#FFFFFF">
<include "admin/head.template">
<form action="${config.actionRoot}" method="post">
	<input type=hidden name=module value=LinksImcs>
	<input type="hidden" name="id" value="${encodeHTML(data.entity.id)}">
	<if data.new><input type="hidden" name="do" value="insert">
	<else><input type="hidden" name="do" value="update"></if>
<table border="0">
  <tr>
    <td align="right" bgcolor="#006600"><font face="Verdana, Arial, Helvetica, sans-serif" size="-1" color="#ffffff">
		<B>${lang("linkimcs.name")}:</B></font></td>
    <td>
      	<input type="text" size="40" name="title" value="${encodeHTML(data.entity.title)}">
    </td>
  </tr>
  <tr>
    <td align="right" bgcolor="#006600"><font face="Verdana, Arial, Helvetica, sans-serif" size="-1" color="#ffffff">
		<B>${lang("linkimcs.continent")}:</B></font></td>
    <td>
		<if data.parentlist>
     	<select name="to_parent_id" size="1">
			<option value=NULL> ${lang("linkimcs.new_parent")}
			<list data.parentlist as entry><option value="${entry.id}"<if entry.id == data.entity.to_parent_id> selected</if>> ${encodeHTML(entry.title)}</list>
		</select>
		</if>
    </td>
  </tr>
  <tr>
    <td align="right" bgcolor="#006600"><font color="#ffffff"><B>${lang("linkimcs.url")}:</B></font></td>
    <td>
      <input type="text" size="40" name="url" value="${encodeHTML(data.entity.url)}">
    </td>
  </tr>
  <tr>
    <td align="right" bgcolor="#006600"><font color="#ffffff"><B>${lang("linkimcs.sort_by")}:</B></font></td>
    <td>
      <select name="sortpriority" size="1">
		<option value="1"<if data.entity.sortpriority == 1> selected</if>> 1 
		<option value="2"<if data.entity.sortpriority == 2> selected</if>> 2 
		<option value="3"<if data.entity.sortpriority == 3> selected</if>> 3
		<option value="4"<if data.entity.sortpriority == 4> selected</if>> 4
		</select>
    </td>
  </tr>
  <tr>
    <td align="right" bgcolor="#006600"><font color="#ffffff"><B>${lang("linkimcs.language")}:</B></font></td>
    <td>
      <select name="to_language" size="1">
	  	<list data.languagelist as language>
			<option value="${encodeHTML(language.id)}"<if data.entity.to_language == language.id> selected</if>> ${encodeHTML(language.name)}
		</list> 
	  </select>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right"><font color="#ffffff">
		<if data.new>
      		<input type="submit" name="save" value="${lang("insert")}">
    	<else>
    		<input type="submit" name="save" value="${lang("save")}">
    	</if> </font></form></font>
    </td>
  </tr>
</table>
<include "admin/foot.template">
</body>
</html>
