<html>
<head>
	<title>${lang("linkimcslist.htmltitle")}</title>
</head>
<body bgcolor="#FFFFFF">
<include "admin/head.template">

<form method="post" action="${config.actionRoot}">
	<input type="hidden" name="module" value="LinksImcs">
	<input type="hidden" name="do" value="list">
	<input type="hidden" name="cid" value="">
	<table border="0">
	<tr bgcolor="Pink">
		<td>${lang("linkimcslist.search_in")}:</td>
		<td>${lang("linkimcs.parent")}:</td>
		<td>${lang("linkimcs.language")}:</td>
		<td>&nbsp;</td>
	</tr>
	
	<tr>
	<td>
		<input type="text" size="10" maxlength="20" name="query_text" value="${encodeHTML(data.query_text)}">
		<select name="query_field">
			<option value="title"<if data.query_field == "title"> selected</if>>${lang("linkimcs.name")}
			<option value="url"<if data.query_field == "url"> selected</if>>${lang("linkimcs.url")}
    	</select>
	</td>
	<td>
		<select name="to_parent_id">
			<option value=""></option>
		    <list data.parentlist as parent><option value="${parent.id}"<if to_parent_id == parent.id> selected</if>>${parent.title}</option>
			</list>
	    </select>
	</td>
	<td>
		<select name="to_language">
 			<option value="">${lang("all")}</option>
			<list data.languagelist as language><option value="${language.id}"<if to_language == language.id> selected</if>>${language.name}</option>
			</list>	
   		</select>
	</td>
	<td>
		<input type="submit" name="search" value="${lang("filter")}">
	</td>
	</tr>	
	</table>
	</form>
	
<if data.imcslist>
<table border="0">
  <tr bgcolor="#006600">
    <td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1" color="#ffffff">
		<b>${lang("linkimcs.name")}</b></font></td>
    <td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1" color="#ffffff">
		<b>${lang("linkimcs.parent")}</b></font></td>
	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1" color="#ffffff">
		<b>${lang("linkimcs.url")}</b></font></td>
	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1" color="#ffffff">
		<b>${lang("linkimcs.sort_by")}</b></font></td>
	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1" color="#ffffff">
		<b>${lang("linkimcs.language")}</b></font></td>
	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1" color="#ffffff">
		<b>&nbsp;</b></font></td>
  </tr>
  <list data.imcslist as entry>
  <assign parent = "">
  <assign language = "">
  <list data.parentlist as p>
		<if entry.to_parent_id == p.id><assign parent = p.title></if>
  </list>
  <list data.languagelist as l>
		<if entry.to_language == l.id><assign language = l.name></if>
  </list>
  
  <tr <if grey=="1"><assign grey="0">bgcolor="#dddddd" <else><assign grey="1"> </if>>
  	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">${entry.title}&nbsp;</font></td>
  	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">${parent}</font></td>
	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">${entry.url}</font></td>
  	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">${entry.sortpriority}</font></td>
  	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">${data.language}</font></td>
	<td><font size="1">&nbsp;<a href="${config.actionRoot}?module=LinksImcs&do=delete&id=${entry.id}">${lang("delete")}</a>
    	| <a href="${config.actionRoot}?module=LinksImcs&do=edit&id=${entry.id}">${lang("edit")}</a></font>
  	</td>
  </tr>
  </list>
  <tr>
  <td colspan="6" bgcolor="#006600"><font face="Verdana, Arial, Helvetica, sans-serif" size="-1" color="#ffffff">
  	${data.count} ${lang("records")} / ${lang("show_from_to", data.from, data.to)}</font></td>
  <td>&nbsp;</td>
  </tr>
</table>
<P>
<if data.prev>
	<a href="${config.actionRoot}?module=LinksImcs&do=list&order=${encodeHTML(data.order)}&query_text=${encodeHTML(data.query_text_encoded)}&query_field=${encodeHTML(data.query_field)}&to_parent_id=${encodeHTML(data.to_parent_id)}&to_language=${encodeHTML(data.to_language)}&prevoffset=${encodeHTML(data.prev)}&prev=zur&uuml;ck">${lang("list.previous")}</a>&nbsp;
</if>
<if data.next>
<a href="${config.actionRoot}?module=LinksImcs&do=list&order=${encodeHTML(data.order)}&query_text=${encodeHTML(data.query_text_encoded)}&query_field=${encodeHTML(data.query_field)}&to_parent_id=${encodeHTML(data.to_parent_id)}&to_language=${encodeHTML(data.to_language)}&nextoffset=${encodeHTML(data.next)}&next=weiter">${lang("list.next")}</a>
</if>

<else>
  <P align="center">${lang("no_matches_found")}</p>
</if>
<include "admin/foot.template">
</body>
</html>
