<html>
<head>
<title>
${lang("message.htmltitle")}
</title>
<head>

<body bgcolor="#FFFFFF">
<include "admin/head.template">
<form action="${config.actionRoot}" method="post">
	<input type="hidden" name="module" value="Message">
	<input type="hidden" name="id" value="${data.id}">
	<if data.new><input type="hidden" name="do" value="insert">
	<else><input type="hidden" name="do" value="update"></if>
<table border="0">
  <tr>
    <td align="right" bgcolor="#006600"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="-1">
	<B>${lang("message.date")}:</B></font></td>
    <td>
      ${data.date}
    </td>
  </tr>

  <tr> 
    <td align="right" bgcolor="#006600"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="-1">
	<B>${lang("message.title")}:</B></td>
    <td>
	 <input type=text name="title" maxlength=40 value="${encodeHTML(data.title)}">
    </td>
  </tr>

  <tr> 
    <td align="right" bgcolor="#006600"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="-1">
	<B>${lang("message.creator")}:</B></td>
    <td>
	 <input type=text name="creator" maxlength=40 value="${encodeHTML(data.creator)}">
    </td>
  </tr>

  <tr> 
    <td align="right" bgcolor="#006600"><font color="#ffffff" face="Verdana, Arial, Helvetica, sans-serif" size="-1">
	<B>${lang("message.text")}:</B> ${lang("message.textinfo")}</font></td>
    <td>
	 <textarea cols="50" rows="3" name="description" wrap=virtual>${encodeHTML(data.description)}</textarea>
    </td>
  </tr>

  <tr> 
    <td colspan="2" align="right"> <font color="#ffffff"><if new> 
      <input type="submit" name="save" value="${lang("insert")}">
    <else> 
    <input type="submit" name="save" value="${lang("save")}">
    </if> </font></form></font>
    </td>
</table>
<include "admin/foot.template">
</body>
</html>
