    <config>
			<docroot>${config.docroot}</docroot>
			<openaction>${config.openaction}</openaction>
			<storageroot>${config.storageroot}</storageroot>
			<productionhost>${config.productionhost}</productionhost>
      <productiondate>${now}</productiondate>
      <videohost>${videoHost}</videohost>
      <audiohost>${audioHost}</audiohost>
      <imagehost>${imageHost}</imagehost>
      <previouspage>${previousPage}</previouspage>
      <nextpage>${nextPage}</nextpage>
		</config>