<html>
<head>
<title>${lang("producer.content.htmltitle")}${content.title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=${config.defEncoding}">
<link rel="stylesheet" href="/style/mir.css" type="text/css">
			<if data.content.to_media_images>
                <meta name="keywords" content="images"></meta>
			</if>
			<if data.content.to_media_audio>
                <meta name="keywords" content="audio"></meta>
			</if>
			<if data.content.to_media_video>
                <meta name="keywords" content="video"></meta>
			</if>
			<if data.content.to_media_other>
                <meta name="keywords" content="other"></meta>
			</if>
</head>

<body bgcolor="#CCCCCC">
<table width="760" border="0" cellpadding="0" cellspacing="1" align="center" bgcolor="#000000">
  <tr bgcolor="#FFFFFF"> 
    <td valign="top" align="left" width="150" bgcolor="#666666"> 
      <table width="150" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="140">
            <a href="${data.config.productionHost}${config.producerDocRoot}/">
             <img src="/images/mirlogo.jpg" width="150" height="205" border="0">
            </a>
          </td>
        </tr>
        <tr valign="top"> 
          <td width="140" bgcolor="#666666"> 
            <table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tr> 
                <td> 
		<!--#include virtual="../../navigation.inc" -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td align="left" valign="top" colspan="2" height="100%">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="/images/mirfont.gif" width="600" height="68"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#000000"> 
          <td height="1"><img src="images/1pixel.gif" width="1" height="1"></td>
        </tr>
        <tr> 
          <td align="left" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="2" height="100%">
              <tr> 
                <td width="100%" valign="top">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">

	<if config.generateFO=="yes">
 	  <tr><td align="right">	  
	  <if config.generatePDF=="yes">
	    <a href="${data.content.id}.pdf">Print this article</a>
          <else>
            <a href="${config.openAction}?do=getpdf&id=${data.content.id}">Print this article</a>
	  </if>
	  </td></tr>
	</if>
            <tr> 
                      <td> 
                        <h2>${data.content.title}</h2>
                        <h4><i>${data.content.creator}, ${data.content.webdb_create_formatted}</i></h4>
                        <p><b>${data.content.description_parsed}</b>
          <!-- media -->
          <list data.content.to_media_audio as media>
            <list media["url"] as audio>
              <p>
                <img src="/img/${media["big_icon"]}" border="0" alt="">
                <a href="${audio["publish_server"]}${audio["publish_path"]}">
                ${audio["title"]} - ${media["media_descr"]} - ${media["human_readable_size"]} </a>
              </p>
            </list>
          </list>
          <list data.content.to_media_video as media>
            <list media["url"] as video>
              <p>
                <img src="/img/${media["big_icon"]}" border="0" alt="">
                <a href="${video["publish_server"]}${video["publish_path"]}">
                ${video["title"]} - ${media["media_descr"]} - ${media["human_readable_size"]} </a>
              </p>
            </list>
          </list>
          <list data.content.to_media_other as media>
            <list media["url"] as other>
              <p>
                <img src="/img/${media["big_icon"]}" border="0" alt="">
                <a href="${other["publish_server"]}${other["publish_path"]}">
                ${other["title"]} - ${media["media_descr"]} - ${media["human_readable_size"]}</a>
              </p>
            </list>
          </list>
          <list data.content.to_media_images as media>
            <list media["url"] as image>
              <p>
                <img src="${image["publish_server"]}${image["publish_path"]}"
                 border="0" width="${image["img_width"]}"
                 height="${image["img_height"]}" alt="${image["title"]}">
                 <br><i>${image["title"]}</i>
              </p>
            </list>
          </list>
          <!-- media -->
          <p>${data.content.content_data_parsed}</p>
          <if content.creator_main_url || content.creator_email>
                        <table width="100%" bgcolor="#FFFFFF">
                        <tr>
                           <td>
                            <font size="-1">
                            <if content.creator_email>
                            <img src="/images/mail_small.gif" width="12" height="10" border="0" alt="-"> ${lang("producer.content.email")}: <a href="mailto:${data.content.creator_email}">${data.content.creator_email}</a><br>
                            </if>
                            <if content.creator_main_url>
                            <img src="/images/link_small.gif" width="12" height="10" border="0" alt=""> ${lang("producer.content.homepage")}: <a href="${data.content.creator_main_url}" target="extern">${data.content.creator_main_url}</a><br>
                            </if>
                            </font>
                           </td>
                        </tr>
                        </table>
                        </if>
                      </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                      <td><a href="${config.openAction}?do=addcomment&aid=${data.content.id}">
                          ${lang("producer.content.comment")}</a>
                      </td>                
                    </tr>
                    <if data.content.to_comments>
                    <list data.content.to_comments as c>
                    <tr>
                       <td>
                       <table width="100%" border="0" cellspacing="0" cellpadding="4">
                       <tr bgcolor="#cccccc">
                         <td><b>${c.title}</b></td>
                         <td align="right"><i>${c.date}</i></td>
                       </tr>
                       <tr>
                         <td colspan="2"><br>${c.description}</td>
                       </tr>
		       <if c.email || c.main_url || c.address || c.phone || c.creator>
                       <tr>
                         <td bgcolor="#cccccc" colspan="2">
	                 <if c.creator><b>${c.creator}</b></if>
			 <if c.email || c.main_url> 
			   <if c.email>
                           <br>
                           <img src="/images/mail_small.gif" width="12" height="10" border="0" alt="">${lang("producer.content.email")}: <a href="mailto:${c.email}"> ${c.email}</a>
                           </if>
			   <if c.main_url>
                           <br>
                           <img src="/images/link_small.gif" width="12" height="10" border="0" alt="">
                           ${lang("producer.content.homepage")}: <a href="${c.main_url}" target="extern"> ${c.main_url}</a>
                           </if>
			  </if>
			 </td>
                      </tr>
		     </if>
                     </table>
                     </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    </list>
                    </if>
                  </table>
                  </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
