


<table bgcolor="silver" width="100%" border="0" cellpadding="3" cellspacing="0">
	<tbody>
		<tr>
			<td><font size="-1">${lang("producer.copyright")}</font><br><br>
${lang("producer.contact")}: <a href="mailto:${lang("imc.public-email.address")}">${lang("imc.public-email.name")}</a>
			</td>
		</tr>
	</tbody>
</table>