<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>

<indy>
	<wap>
		<breakingnews>
			<list breaking as b>
      <breakingitem>
        <id>${b.id}</id>
				<date>${b.webdb_create_formatted}</date>
				<content>${b.text}</content>
			</breakingitem>
      </list>
		</breakingnews>
	</wap>
</indy>
