<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=${config["Mir.DefaultHTMLCharset"]}">
    <title>${config["Mir.Name"]} | ${topic.title}</title>
	<meta name="keywords" content="${lang("general.keywords")}">
	<meta name="description" content="${topic.description}">
	<meta name="dc:title" content="${topic.title}">
	<meta name="dc:creator" content="">
	<meta name="dc:subject" content="${topic.title}">
	<meta name="dc:description" content="${topic.title}">
	<meta name="dc:publisher" content="">
	<meta name="dc:date" content="${config.now.dc}">
	<meta name="dc:language" content="${language.code}">
	<meta name="dc:coverage" content="">
	<meta name="dc:rights" content="">
	<meta http-equiv="expires" content="599">
	<meta http-equiv="pragma" content="no-cache">
	<style type="text/css">
    body, h1, h2, h3, h4, h5, h6, p, li, dt, dd, div, td, blockquote, div, span
                   {font-family:'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;}
    a              {text-decoration:none;}
    #searchfield   {font-size: 12px; width:113px; height:16px;  background-color:#aaaaaa;}
    #searchselect  {font-size: 12px; width:120px; height:22px;  background-color:#aaaaaa;}
    #searchbutton  {font-size: 12px; width:120px; height:20px; background-color:#aaaaaa; text-align: right;}
	</style>
</head>
	 
<body bgcolor="#dddddd" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" link="#003399" alink="#cc0033" vlink="#660033" >

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td valign="top">
			<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#cc0033">
				<tr>
					<td><a href="${config["Producer.DocRoot"]}/${language.code}/"><img src="${config["Producer.DocRoot"]}/img/logo.gif" width="120" height="120" alt="((i))" border="0"></a></td>
				</tr>
			</table>
			<table cellpadding="4" cellspacing="0" border="0" width="100%" bgcolor="#cc0033">
				<tr>
					<td><a href="${config["Producer.DocRoot"]}/${language.code}/">&nbsp;<font color="#dddddd" size="-1"><b>${lang("general.start")}</b></font></a></td>
				</tr>
			</table>
			<br>
			<!--#include virtual="../navigation.inc" -->
		</td>
		<td valign="top" width="100%">
			<table cellpadding="4" cellspacing="0" border="0" width="100%" bgcolor="#cc0033">
				<tr>
					<td>
						&nbsp;&nbsp;
						<font color="#dddddd" size="-1"><b>
					<a href="${config["Producer.DocRoot"]}/${language.code}/static/mission.shtml"><font color="#dddddd">${lang("general.menu.missionStatement")}&nbsp;&gt;&gt;</font></a> &nbsp; 
					<a href="${config["Producer.DocRoot"]}/${language.code}/static/moderation.shtml"><font color="#dddddd">${lang("general.menu.moderation")}&nbsp;&gt;&gt;</font></a>  &nbsp;
					<a href="${config["Producer.DocRoot"]}/${language.code}/static/support.shtml"><font color="#dddddd">${lang("general.menu.support")}&nbsp;&gt;&gt;</font></a>  &nbsp;
					<a href="${config["Producer.DocRoot"]}/${language.code}/static/mailinglists.shtml"><font color="#dddddd">${lang("general.menu.mailinglists")}&nbsp;&gt;&gt;</font></a> &nbsp;
					<a href="${config["Producer.DocRoot"]}/${language.code}/static/participate.shtml"><font color="#dddddd">${lang("general.menu.participate")}&nbsp;&gt;&gt;</font></a>
						</b></font>
					</td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td width="100%">
						<br>
						<br>
						<font color="#cc0033" size="+2"><b>${topic.title}</b></font>
						<br>
						<br>
					</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td valign="top"><img src="${config["Producer.DocRoot"]}/img/space.gif" alt="" width="100" height="1">
					</td>
					<td>
					&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>
						<br>
							<!--- topic-special ---> <comment></comment>
								<list special as s>
          				 <table width="100%" border="0" cellspacing="0" cellpadding="10" bgcolor="#eeeeee"><tr><td> 
          			       <p><font size="+2">
                       <a href="${config["Producer.DocRoot"]}/${language.code}/${s.date.formatted["yyyy'/'MM"]}/${s.id}.shtml"><b>${s.title}</b></a>
          			       </font><br>
          			          <font size="-2">${s.creator}, ${s.webdb_create_formatted}</font></p>
          			       <p><font size="-1">			 
          			        <if s.to_media_audio > 
          			          <img align="left" vspace="4" hspace="8"
          			            src="${config["Producer.DocRoot"]}/img/${s.to_media_audio[0]["big_icon"]}">
          			        </if> 
          			        <if s.to_media_video > 
          			          <img align="left" vspace="4" hspace="8"
          			            src="${config["Producer.DocRoot"]}/img/${s.to_media_video[0]["big_icon"]}">
          			        </if> 
          			        <if s.to_media_other > 
          			          <img align="left" vspace="4" hspace="8"
          			             src="${config["Producer.DocRoot"]}/img/${s.to_media_other[0]["big_icon"]}">
          			        </if> 
          			        <if s.to_media_images >
          			          <img align="left" vspace="4" hspace="8"
          			            src="${s.to_media_images[0]["icon_path"]}"
          			            width="${s.to_media_images[0]["icon_width"]}"
          			            height="${s.to_media_images[0]["icon_height"]}"
          			            border=0 alt="${s.to_media_images[0]["title"]}">
          			        </if> 
          			        ${s.description_parsed} 
          					<br clear="all">
          					<a href="${config["Producer.DocRoot"]}${s.publish_path}${s.id}.shtml"><b>${lang("general.readmore")} &gt;&gt;</b></a>
          					</font></p>
          				
          				 </td></tr></table>
							  </list>
							<!--- /topic-special ---> 		
					
							<!--- articles ---> <comment></comment>  
								<list articles as i>
          				<p><font size="+1">
                  <a href="${config["Producer.DocRoot"]}/${language.code}/${i.date.formatted["yyyy'/'MM"]}/${i.id}.shtml"><b>${i.title}</b></a>
          				</font><br>
          				   <font size="-2">${i.creator}, ${i.webdb_create_formatted}</font></p>
          				<p><font size="-1">			 
          				<if i.to_media_audio > 
          				<img align="left" vspace="4" hspace="8"
                       src="${config["Producer.DocRoot"]}/img/${i.to_media_audio[0]["big_icon"]}">
          				</if> 
          				<if i.to_media_video > 
          				<img align="left" vspace="4" hspace="8"
          				     src="${config["Producer.DocRoot"]}/img/${i.to_media_video[0]["big_icon"]}">
          				</if> 
          				<if i.to_media_other > 
          				<img align="left" vspace="4" hspace="8"
          				     src="${config["Producer.DocRoot"]}/img/${i.to_media_other[0]["big_icon"]}">
          				</if> 
          				<if i.to_media_images >
          				<img align="left" vspace="4" hspace="8"
                       src="${i.to_media_images[0]["icon_path"]}"
                       width="${i.to_media_images[0]["icon_width"]}"
                       height="${i.to_media_images[0]["icon_height"]}"
                       border=0 alt="${i.to_media_images[0]["title"]}">
          				</if> 
          				${i.description_parsed}
          				<br clear="all">
          				<a href="${config["Producer.DocRoot"]}${i.publish_path}${i.id}.shtml"><b>${lang("general.readmore")} &gt;&gt;</b></a>
          				</font></p>
          				
          				<br>
								</list> 
							<!--- /articles ---> 
						  <if batch.current.index!=batch.first.index>
     						<a href="${docPrefix}${batch.previous.identifier}${docSuffix}"><font size="+1"><b>&lt;&lt; ${lang("general.page.prefix")} ${batch.previous.index}</b></font></a>
  						</if> 
						  <if batch.current.index!=batch.first.index && batch.current.index!=batch.last.index>
						    |
						  </if>
						  <if batch.next>
     						<a href="${docPrefix}${batch.next.identifier}${docSuffix}"><font size="+1"><b>${lang("general.page.prefix")} ${batch.next.index} &gt;&gt;</b></font></a>
  						</if>
							
							
					</td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td valign="top"><img src="${config["Producer.DocRoot"]}/img/space.gif" alt="" width="100" height="1">
						<br>
					    ${lang("general.page.prefix")} <b>${batch.current.index}</b> ${lang("general.page.infix")}
			        <!--#include virtual="${docPrefix}nav${docSuffix}" -->
					
					</td>
					<td>
					&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
			</table>
		</td>
	</tr>
  
<!-- the rest --> 
	<tr><td colspan="2">&nbsp;</td></tr>
</table>
</body>
</html>
