body  {
  margin: 6px; 
  background-color: #EEEEEE; 
}

/* ... basic font-def ... */

h1, h2, h3, h4, h5, h6, p, li, dt, dd, div, td, blockquote {
  font-family: arial, helvetica, sans-serif;
}

h6, p, li, dt, dd, div, td, blockquote {
	font-family: arial, helvetica, sans-serif;
  
}

/* ... boxes ... */

.box-head {  
	background-color:#006600; 
	padding:2px;
	margin:0px; 
	border:2px solid #006600; 
	color:#FFFFFF;
}

.box {  
	background-color:#FFFFFF; 
	padding:8px;
	margin-top:0px;
	margin-bottom:12px;
	border:2px solid #006600; 

}

/* ... for MESSAGEBOX ... */

.box-bg {  
	background-color:#FFFFCC; 
	padding:8px;
	margin-top:0px;
	margin-bottom:12px;
	border:2px solid #006600;
}

/* ... creates indent ... */

.box-invis {   
	margin-top:4px;
	margin-bottom:4px;
	margin-left:12px;
	margin-right:12px;
	padding:4px;
}

.bg-neutral {
	background-color:#DDDDDD; 
}


/* ... TABLE def ... */

.table-head  {
	color: #FFFFFF;
	background-color: #990000;
	font-weight: bold;
	padding-right:8px;
	padding-left:6px;
}

.table-left  {
	color: #FFFFFF;
	background-color: #006600;
	font-size:1em;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right:8px;
	padding-left:6px;
}

/* ... for unimportent fields ... */
.table-left-light 
 {
	color: #FFFFFF;
	background-color: #999999;
	font-size:0.8em;
	font-weight: bold;
	padding-right:8px;
	padding-left:6px;
}

.table-foot  {
	color: #006600;
	text-align:right;
	font-weight: bold;
	font-size:0.7em;
	padding-right:6px;
	padding-left:6px;
	border-top:3px solid #990000;
	
}


/* ... for striped Tables ... */
.listrow1  {
	color: #000000;
	background-color: #FFFFFF;
}
.listrow2  {
	color: #000000;
	background-color: #FFFFCC;
}
.listrow3  {
	color: #000000;
	background-color: #FAFAC8;
}
.listrow4  {
	color: #000000;
	background-color: #F5F5F5;	
}


/* ... LINKS ... */
a:link		{
	color: #990000;
	text-decoration:none;
}
a:visited	{
	color: #990000;
	text-decoration:none;
}
a:hover		{
	color: #FFFFFF;
	text-decoration:none;
	background-color:#990000;
}

.link-box {  
	background-color:#DDDDDD; 
	font-size:0.9em;
	padding:2px;
	padding-left:8px;
	padding-right:8px;
	border:1px solid #990000;  
}

.link-help {  
	background-color:#DDDDDD; 
	font-size:0.9em;
	padding:2px;
	padding-left:8px;
	padding-right:8px;
	border:1px solid #003399;
	color: #003399; 
}

.link-help-small {  
	background-color:#EEEEEE;
	font-size:0.7em;
	color: #003399;
}


/* ... for important text ... */
.text-alert {
	color: #CC0000;

}


.majorcommand {
	font-weight: bold;
} 

.listcommand {
	font-size: 0.7em;
}  

.small	{font-size: 0.8em;}
.x-small	{font-size: 0.7em;}

.lynx	          { display:none; }

