<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>${lang("open.commentdone.htmltitle")}</title>
</head>

<body bgcolor="White" text="Black" link="#006600" vlink="#009900" alink="Red">

<table width="100%" border="0" cellspacing="0" cellpadding="10">
	<tr>
		<td valign="top" align="center" bgcolor="#663399">
			<font color="White"><b>${lang("open.commentdone.thanks")}</b></font
		</td>
	</tr>
	<tr>
		<td bgcolor="#cccccc" align="center">

				<br>
                ${lang("open.commentdone.wait")}
				<br>
                ${lang("open.commentdone.criteria")}
				<br>
				<em>${lang("open.commentdone.stay_calm")}</em><br>
				<br>

		</td>
	</tr>
	<tr>
		<td valign="top" align="center" bgcolor="#663399">
			<a href="javascript:history.go(-2)"><font color="White"><b>&gt;&gt; ${lang("open.commentdone.back")}</b></font></a>
		</td>
	</tr>
</table>

</body>
</html>
