<html>
<head>
<title>${lang("error.htmltitle")}</title>
</head>
<body>
<include "head.template">
<table width="100%" border="0" align="center">
	<tr bgcolor="#006600">
		<td>
			<div align="center"><h2><font color="Pink">${lang("error.title")}</font></h2>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<p>${lang("error.text", lang("imc.tech-email.address"), lang("imc.tech-email.name"))}
		</td>
	</tr>
	<tr>
		<td>
			<p>
			<p align="center"><font size="3" color="Red">${data.date} -- ${data.errorstring}</font>
			<p>
		</td>
	</tr>
	<tr>
		<td>
			<p align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
            ${lang("error.text2", lang("imc.tech-email.address"), lang("imc.tech-email.name"))}</font>
			<p>
		</td>
	</tr>
</table>
<include "foot.template">
</body>
</html>
