<html>
<head>
<title>${lang("usererror.htmltitle")}</title>
</head>
<body>
<include "head_nonavi.template">
<table width="100%" border="0" align="center">
	<tr bgcolor="#006600">
		<td>
			<div align="center"><h2><font color="Pink">${lang("usererror.title")}</font></h2>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<p>${lang("usererror.text")}
		</td>
	</tr>
	<tr>
		<td>
			<p>
			<p align="center"><font size="5" color="Red"><b> ${data.errorstring}</b></font>
            <p>
			<p> 
		</td>
	</tr>
	<tr>
		<td>
			<p align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">${lang("usererror.what_to_do")}
			</a></font>
			<p>
		</td>
	</tr>
</table>
<include "foot.template">
</body>
</html>
