<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Mir CMS</display-name>
    <servlet>
        <servlet-name>Mir</servlet-name>
        <servlet-class>Mir</servlet-class>
        <init-param>
            <param-name>Config</param-name>
            <param-value>etc/config.properties</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>OpenMir</servlet-name>
        <servlet-class>OpenMir</servlet-class>
        <init-param>
            <param-name>Config</param-name>
            <param-value>etc/config.properties</param-value>
        </init-param>
    </servlet>
	
	<servlet>
		<servlet-name>presentation</servlet-name>
		<description>Presentation</description>
		<servlet-class>mir.core.ui.servlet.TemplateServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>action</servlet-name>
		<description>Action</description>
	  	<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/etc/struts-config.xml</param-value>            
        </init-param>
        <init-param>
            <param-name>config/admin</param-name>
            <param-value>/WEB-INF/etc/struts-config-admin.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>        
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>3</param-value>     
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>presentation</servlet-name>
		<url-pattern>*.shtml</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping> 

    <servlet-mapping>
        <servlet-name>Mir</servlet-name>
        <url-pattern>/servlet/Mir</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OpenMir</servlet-name>
        <url-pattern>/servlet/OpenMir</url-pattern>
    </servlet-mapping>

	<filter>
		<filter-name>authentication</filter-name>
		<filter-class>mir.core.ui.filter.AuthenticationFilter</filter-class>	
	</filter>

    <filter-mapping>
		<filter-name>authentication</filter-name>
		<servlet-name>presentation</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>authentication</filter-name>
		<servlet-name>action</servlet-name>
	</filter-mapping>	
	
	<welcome-file-list>
		<welcome-file>index.shtml</welcome-file>
	</welcome-file-list>
	
    <mime-mapping>
      <extension>
        mp3 
      </extension>
      <mime-type>
        audio/x-mp3
      </mime-type>
    </mime-mapping>
    <mime-mapping>
      <extension>
        ra
      </extension>
      <mime-type>
        audio/vnd.rn-realaudio
      </mime-type>
    </mime-mapping>
    <mime-mapping>
      <extension>
        rm
      </extension>
      <mime-type>
        application/vnd.rn-realmedia
      </mime-type>
    </mime-mapping>
    <mime-mapping>
      <extension>
        mov
      </extension>
      <mime-type>
        video/quicktime 
      </mime-type>
    </mime-mapping>
    <mime-mapping>
      <extension>
        mpg
      </extension>
      <mime-type>
        video/mpeg
      </mime-type>
    </mime-mapping>
    <mime-mapping>
      <extension>
        avi
      </extension>
      <mime-type>
        video/x-msvideo
      </mime-type>
    </mime-mapping>
    <mime-mapping>
      <extension>
        asf
      </extension>
      <mime-type>
        video/x-ms-asf
      </mime-type>
    </mime-mapping>
    <mime-mapping>
      <extension>
        pdf
      </extension>
      <mime-type>
        application/pdf
      </mime-type>
    </mime-mapping>
</web-app>