<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("abuse.log.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  </head>

  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
    <include "head.template">
    
  <p>
    <a class="link-box" href="${config.actionRoot}?module=Abuse"> [ &lt; ] ${lang("back")}</a>&nbsp;&nbsp;
    <a class="link-box" href="${config.actionRoot}?module=Abuse&do=showfilters">${lang("abuse.showfilters")}</a>
    <br>
  </p>
    <table border="0" cellpadding="2" cellspacing="3">
      <tr class="darkgrey">
        <td class="table-head">${lang("abuse.log.time")}</td>
        <td class="table-head">${lang("abuse.log.address")}</td>
        <td class="table-head">${lang("abuse.log.object")}</td>
        <td class="table-head">${lang("abuse.log.browser")}</td>
        <td class="table-head">${lang("abuse.log.filtertype")}</td>
        <td class="table-head">${lang("abuse.log.filterexpression")}</td>
      </tr>
      
      <assign grey="0">      
      <list log as l>
        <if grey=="1"><assign grey="0"><tr class="listrow1"><else><tr class="listrow2"><assign grey="1"> </if>
          <td>${l.timestamp.format(config["Mir.DefaultDateTimeFormat"])}</td>
          <td>${l.ip}</td>
          <td>
            <if l.type=="content">
              <a href="${config.actionRoot}?module=Content&do=edit&id=${l.id}&returnurl=${utility.encodeURI(thisurl)}">Article</a>
            <else>
              <a href="${config.actionRoot}?module=Comment&do=edit&id=${l.id}&returnurl=${utility.encodeURI(thisurl)}">Comment</a>
            </if>
          </td>
          <td>${l.browser}</td>
          <td><if l.hitfiltertype>${lang("abuse.filtertype."+l.hitfiltertype)}</if></td>
          <td>${utility.encodeHTML(l.hitfilterexpression)}</td>
        </tr>
      </list>
    <tr>
      <td colspan="6" class="table-foot">&nbsp;</td>
    </tr>
    </table>

    <p>
      <a class="link-box" href="${config.actionRoot}?module=Abuse"> [ &lt; ] ${lang("back")}</a>&nbsp;&nbsp;
    <a class="link-box" href="${config.actionRoot}?module=Abuse&do=showfilters">${lang("abuse.showfilters")}</a>
    </p>

    <include "foot.template">
  </body>
</html>


