<html>
<head>
  <title>${config["Mir.Name"]} | ${lang("abuse.filters.htmltitle")}</title>
  <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>
<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
<include "LISTFUNCTIONS.template">
<include "FUNCTIONS.template">
<include "head.template">

    <p>
      <a class="link-box" href="${config.actionRoot}?module=Abuse">[ &lt; ] ${lang("back")}</a>&nbsp;&nbsp;
      <a class="link-box" href="${config.actionRoot}?module=Abuse&do=add">[+] ${lang("add")}</a> &nbsp;
      <if config["Abuse.DisallowIPLogging"]!="1">
        <a class="link-box" href="${config.actionRoot}?module=Abuse&do=showlog">${lang("abuse.showlog")}</a>
      </if>
      <br><br>
    </p>
    <call ListStart()>
    <call ListHead([
          lang("abuse.filter.type"), 
          lang("abuse.filter.expression"),
          lang("abuse.filter.articleaction"),
          lang("abuse.filter.commentaction"),
          lang("abuse.filter.comments"),
          lang("abuse.filter.lasthit"), 
           ])>
    <list filters as f>    
    <if f.lastHit>
        <call ListEntry([
          lang("abuse.filtertype."+f.type),
          utility.encodeHTML(f.expression),
          lang("content.operation."+f.articleAction),
          lang("comment.operation."+f.commentAction),
          utility.prettyEncodeHTML(f.comments),
          f.lastHit.format(config["Mir.DefaultDateTimeFormat"], config["Mir.DefaultTimezone"])
          ], 
          "module=Abuse&id="+f.id, 
          ["&do=edit", "&do=delete", "&do=moveup", "&do=movedown"], 
          [lang("edit"), lang("delete"), lang("abuse.filters.moveup"), lang("abuse.filters.movedown")])
        >
    <else>
        <call ListEntry([
          lang("abuse.filtertype."+f.type),
          utility.encodeHTML(f.expression),
          lang("content.operation."+f.articleAction),
          lang("comment.operation."+f.commentAction),
          utility.prettyEncodeHTML(f.comments),
          "-"
          ], 
          "module=Abuse&id="+f.id, 
          ["&do=edit", "&do=delete", "&do=moveup", "&do=movedown"], 
          [lang("edit"), lang("delete"), lang("abuse.filters.moveup"), lang("abuse.filters.movedown")])
        >
    </if>
    </list>
    <call ListEnd()>
    
    <p>
      <a class="link-box" href="${config.actionRoot}?module=Abuse">[ &lt; ] ${lang("back")}</a>&nbsp;&nbsp;
      <a class="link-box" href="${config.actionRoot}?module=Abuse&do=add">[+] ${lang("add")}</a> &nbsp;
      <if config["Abuse.DisallowIPLogging"]!="1">
        <a class="link-box" href="${config.actionRoot}?module=Abuse&do=showlog">${lang("abuse.showlog")}</a>
      </if>
      <br><br>
    </p>

  <include "foot.template">
</body>
</html>




