<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("articletypelist.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  </head>
  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
    
    <include "FUNCTIONS.template">
    <include "head.template">

    <assign contentlist = data.contentlist>
    <assign column_nr = 3>
    <assign data_keys = ["id","name"]>
    <assign column_head_texts = [lang("articletype.id"), lang("articletype.name")]>
    <assign column_head_CSS = "table_head">
    <assign listrow1CSS = "listrow1">
    <assign listrow2CSS = "listrow2">
    <assign footer_css = "table_foot">
    <assign module_name = "ArticleType">
    <assign module_jumpback = "Admin">
    <assign do_jumpback = "superusermenu">
  
    <include "templates/admin/head.template">
  
    <call AddOrBack(module_name, module_jumpback, do_jumpback)>

    <if data.contentlist>
      <call ListTable(contentlist, data_keys, column_head_texts, column_head_CSS, listrow1CSS, listrow2CSS, footer_css, module_name)>
      <call AddOrBack(module_name, module_jumpback, do_jumpback)>
    <else>
      <P align="center">${lang("no_matches_found")}</p>
    </if>

    <include "foot.template">
  </body>
</html>


