<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("articletype.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  <head>
  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
  
    <include "templates/admin/head.template">
    <form action="${config.actionRoot}" method="post">

    	<input type="hidden" name="module" value="ArticleType">
    	<input type="hidden" name="id" value="${data.id}">
    	<if data.new>
    	  <input type="hidden" name="do" value="insert">
    	<else>
    	  <input type="hidden" name="do" value="update">
    	</if>
    
      <table border="0">
        <tr>
          <td align="right" class="darkgrey"><span class="witesmall">
      		<B>${lang("articletype.id")}:</B></span></td>
          <td>
            ${data.id}
          </td>
        </tr>
        <tr>
          <td align="right" class="darkgrey"><span class="witesmall">
      		<B>${lang("articletype.name")}:</B></span></td>
          <td>
            <input type="text" size="40" name="name" value="${data.name}">
          </td>
        </tr>
        <tr>
          <td colspan="2" align="right">
            <span class="witetext">
              <if data.new>
                <input type="submit" name="save" value="${lang("insert")}">
              <else>
                <input type="submit" name="save" value="${lang("save")}">
              </if> 
            </span>
          </td>
        </tr>
      </table>

    </form>

    <include "templates/admin/foot.template">
  </body>
</html>
