<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("articletype.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
<head>
<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
    <include "FUNCTIONS.template">
    <include "head.template">
  
      <if new=="1">
        <assign method="insert">
      <else>
        <assign method="update">
      </if>
      
      <call EditStart(
         ["module", "id", "do"],
         [module, entity.id, method])>
         
        <call EditReadonlyTextNormal(lang("articletype.id"), entity.id)>
        <call EditTextNormal(lang("articletype.name"), 40, 255, "name", entity.name)>
      
        <if new=="1">
          <call EditSubmitButtonNormal(lang("insert"), "save")>
        <else>
          <call EditSubmitButtonNormal(lang("save"), "save")>
        </if> 

      <call EditEnd()>
      
      <if returnurl>
        <call showBack(returnurl)>
      <else>
        <call showBack("module="+module+"&amp;do=list")>
      </if>

    <include "foot.template">
</body>
</html>
