<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("breaking.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  <head>

  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
    <include "FUNCTIONS.template">
    <include "head.template">
  
      <if new=="1">
        <assign method="insert">
      <else>
        <assign method="update">
      </if>
      
      <call EditStart(["module", "id", "do"], [module, entity.id, method])>
         
        <call EditReadonlyTextNormal(lang("breaking.id"), entity.id)>
        
        <if new!="">
          <call EditReadonlyTextNormal(lang("breaking.date"), entity.creationdate.format(config["Mir.DefaultDateTimeFormat"]))>
        </if>
        <call EditTextAreaNormal(lang("breaking.text"), lang("breaking.textinfo"), "50", "5", "text", entity.text)>
      
        <if new=="1">
          <call EditSubmitButtonNormal(lang("insert"), "save")>
        <else>
          <call EditSubmitButtonNormal(lang("save"), "save")>
        </if> 

      <call EditEnd()>
      
      <if returnurl>
        <call showBack(returnurl)>
      <else>
        <call showBack("module="+module+"&amp;do=list")>
      </if>

    <include "foot.template">
  </body>
</html>
