<html>
<head>
	<title>${config["Mir.Name"]} | ${lang("breakinglist.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

  	<include "FUNCTIONS.template">
  
    <include "head.template">

		<comment>configure this template here</comment>
		<assign contentlist =
		 data.contentlist>
		<assign column_nr = 3>
		<assign column_head_texts = [lang("breaking.date"), lang("breaking.text")]>
		<assign data_keys = ["webdb_create_formatted", "text",]>
		<assign column_head_CSS = "table_head">
		<assign listrow1CSS = "listrow1">
		<assign listrow2CSS = "listrow2">
		<assign footer_css = "table_foot">
		<assign module_name = "Breaking">
		<assign module_jumpback = "Admin">
		<assign do_jumpback = "">

    <if data.contentlist>
	
	<p>
      <a class="link-box" href="${config.actionRoot}?module=Breaking&do=add">[+] ${lang("add")}</a> &nbsp;
      <a class="link-box" href="${config.actionRoot}">[&lt;&lt;&lt;] ${lang("head.start")}</a>
	</p>
		
		<call ListTable(contentlist, data_keys, column_head_texts, column_head_CSS, listrow1CSS, listrow2CSS, footer_css, module_name)>	  
		<call PrevNextPage(module_name)>	  
   <else>
		<P align="center" class="box">${lang("no-matches_found")}</p>
    </if>
    
	 <p>
      <a class="link-box" href="${config.actionRoot}?module=Breaking&do=add">[+] ${lang("add")}</a> &nbsp;
      <a class="link-box" href="${config.actionRoot}">[&lt;&lt;&lt;] ${lang("head.start")}</a>
	</p>


    <include "foot.template">
</body>
</html>


