<html>
<head>
        <title>${config["Mir.Name"]} | ${lang("breaking.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
<head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "head.template">
<include "FUNCTIONS.template">


<form action="${config.actionRoot}" method="post">
	<input type="hidden" name="module" value="Breaking">
	<input type="hidden" name="id" value="${data.id}">
	<if data.new><input type="hidden" name="do" value="insert">
	<else><input type="hidden" name="do" value="update"></if>
<table border="0">
  
  <tr>
    <td align="right" class="table_left">
	 <B>${lang("breaking.date")}:</B>
	</td>
    <td class="listrow2">
      ${data.webdb_create_formatted}
    </td>
  </tr>

  
  
  <tr>
    <td align="right" class="table_left">
	<B>${lang("breaking.text")}:</B><br> ${lang("breaking.textinfo")}</td>
    <td class="listrow2">
	 <textarea cols="50" rows="5" name="text" wrap=virtual>${data.text}</textarea>
    </td>
  </tr>

  <tr>
    <td colspan="2" align="right" class="table_foot">
		<if data.new>
			<input type="submit" name="save" value="${lang("insert")}">
		<else>
			<input type="submit" name="save" value="${lang("save")}">
		</if> 
    </td>
</table>
</form>
<p><a class="link_box" href="${config.actionRoot}?module=Breaking&do=list">[&lt;] ${lang("back")}</a></p>
<include "foot.template">
</body>
</html>
