<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("comment.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  <head>

  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
  
  <include "FUNCTIONS.template">
    <include "head.template">
      
    <form method="post" action="${config.actionRoot}">
      <input type="hidden" name="module" value="Comment">
      <input type="hidden" name="id" value="${utility.encodeHTML(comment.id)}">
      <if new=="1"> 
        <input type="hidden" name="do" value="insert">
      <else>   
        <input type="hidden" name="do" value="update">
      </if>
    
<table width="100%" cellspacing="0" cellpadding="5">
  <tr>
    <td align="left" valign="top">
      <if new=="0">
        <if comment.to_content>
          <call showButton(
            "module=Content&do=edit&id="+comment.to_content.id+"&returnurl="+utility.encodeURI(thisurl),
            lang("comment.article"))>
          <call showButton(
            "module=Comment&do=articlecomments&articleid="+comment.to_content.id+"&returnurl="+utility.encodeURI(thisurl),
            lang("comment.allcomments"))>
          <call showAbsoluteLinkButton(
            comment.publicurl,
            lang("preview"))>
        </if>

        <list comment.operations as op>
          <call showButton(
            "module=Localizer&do=commentoperation&operation="+op+"&id="+comment.id+"&returnurl="+utility.encodeURI(thisurl), 
            lang("comment.operation."+op))>
        </list>
      </if>
      
    </td>
    <td align="right" valign="top">
      ${lang("comment.published")} <input type="checkbox" name="is_published" value="1" <if comment.is_published=="1"> checked</if>>
      <if new=="1">
        <input type="submit" name="save" value="${lang("insert")}">
      <else>
        <input type="submit" name="save" value="${lang("save")}">
      </if> 
    </td>
  </tr>
</table>

<table width="100%" cellspacing="3" cellpadding="2">
        
      <tr><td colspan="2" class="table-head">${lang("comment.htmltitle")}</td></tr>
    
    
      <tr>
        <td align="right" class="table-left">
          id # :
        </td>
        <td class="listrow2">
          ${comment.id}
        </td>
      </tr>
      
      <tr> 
        <td align="right" class="table-left">
          ${lang("comment.date")}
        </td>
        <td class="listrow2">
          ${utility.encodeHTML(utility.encodeHTML(comment.webdb_create))}
        </td>
      </tr>


    <call PulldownTableRow (lang("comment.status"), "to_comment_status", commentstatuses, "id", "name", comment.to_comment_status, "commentstatus.")>

    <call TextInputTableRow (lang("comment.title"), 40, 255, "title", comment.title)>
    <call TextInputTableRow (lang("comment.creator"), 40, 80, "creator", comment.creator)>
    <call TextInputTableRow (lang("comment.url"), 40, 255, "main_url", comment.main_url)>
    <call TextInputTableRow (lang("comment.email"), 40, 80, "email", comment.email)>
    <call TextInputTableRow (lang("comment.phone"), 40, 80, "phone", comment.phone)>
    <call TextInputTableRow (lang("comment.address"), 40, 80, "address", comment.address)>
    
    <call PulldownTableRow (lang("comment.language"), "to_language", languages, "id", "name", comment.to_language, "")>
    <call CheckboxTableRow       (lang("comment.html"), "is_html", comment.is_html )>
    <call TextAreaTableRow       (lang("comment.text"), "", 70, 15, "description", comment.description)>

        <tr>
          <td colspan="2" align="right" class="table-foot" > 
            <span class="text">
              <if new=="1">
                <input type="submit" name="save" value="${lang("insert")}">
              <else>
                <input type="submit" name="save" value="${lang("save")}">
              </if> 
            </span>
          </td>
        </tr>
      </table>

<if new=="0">

<table width="90%" cellspacing="0" cellpadding="0">

<tr>
<td align="left" valign="top">
<call showCommentAttachments(comment)>
</td>
</tr>
</table>

</if>          

    </form>
  
   <p>
      <a class="link-box" href="${config.actionRoot}?module=Comment&do=list">[&lt;] ${lang("list")} </a> &nbsp;
      <a class="link-box" href="${config.actionRoot}">[&lt;&lt;&lt;] ${lang("head.start")}</a>
  </p>
  
    <include "foot.template">
  </body>
</html>
