<html>
  <head>
        <title>${config["Mir.Name"]} | ${lang("confirm.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  </head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
<center>
  <include "head_nonavi.template">
      <form method="post" action="${config.actionRoot}">
      <table><tr><td>
    <p class="box-head" align="center"><b>${lang("confirm.really_delete")}</b></p>
        <p class="box" align="center">
          <input type="hidden" name="module" value="${data.module}">
          <input type="hidden" name="do" value="delete">
          <input type="hidden" name="id" value="${data.id}">
          <input type="hidden" name="where" value="${data.where}">
          <input type="hidden" name="order" value="${data.order}">
          <input type="hidden" name="query_text" value="${utility.encodeHTML(data.query_text)}">
          <input type="hidden" name="query_field" value="${utility.encodeHTML(data.query_field)}">
          <input type="hidden" name="query_is_pubished" value="${data.query_is_pubished}">
          <input type="hidden" name="query_media_folder" value="${data.query_media_folder}">
          <input type="hidden" name="offset" value="${data.offset}">
          <input type="submit" name="cancel" value="${lang("cancel")}">
          <input type="submit" name="confirm" value="${lang("delete")}"><br>
      <br>
      <b><span class="text-alert">${lang("confirm.text")}</span></b>
        </p>
    
      </td></tr></table>
    </form>
</center>
<include "foot.template">
  </body>
</html>
