<html>
  <head>
        <title>${config["Mir.Name"]} | ${lang("confirm.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  </head>

  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
    <center>
      <include "head.template">
        <form method="post" action="${config.actionRoot}">
          <table><tr><td>
            <p class="box-head" align="center"><b>${lang("confirm.really_delete")}</b></p>
            <p class="box" align="center">
             <input type="hidden" name="module" value="${module}">
             <input type="hidden" name="do" value="confirmdelete">
             <input type="hidden" name="id" value="${id}">
             <input type="hidden" name="okurl" value="${okurl}">
             <input type="hidden" name="cancelurl" value="${cancelurl}">
             <input type="submit" name="cancel" value="${lang("cancel")}">
             <input type="submit" name="confirm" value="${lang("delete")}"><br>
             <br>
            <b><span class="text-alert">${lang("confirm.text")}</span></b>
        </p>
      </td></tr></table>
       </form>
      </center>
    <include "foot.template">
  </body>
</html>
