<html>
  <head>
    <title>${lang("content.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css"
    <!-- this might one day need to be the lang of the article????? -->
    <meta http-equiv="Content-Type" content="text/html; charset=${lang("htmlcharset")}">
  </head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "templates/admin/head.template">
<form method="post" action="${config.actionRoot}">
  <input type="hidden" name="module" value="Content">
  <input type="hidden" name="id" value="${utility.encodeHTML(data.id)}">
  <if data.new>
    <input type="hidden" name="do" value="insert">
  <else>
    <input type="hidden" name="do" value="update">
  </if>

  <table border="0" width="80%" align="middle">
    <tr>
      <td colspan="1">&nbsp</td>
      <td class="minorcommand" colspan="2">
        <if !data.new>
          <a href="${config.actionRoot}?module=Comment&do=articlecomments&articleid=${data.id}">${lang("content.comments")}</a>
        </if>
      </td>
      <td colspan="2" align="right" valign="top">
        ${lang("content.published")} <a href="${config.docRoot}/help/content.html"><img src="${config.docRoot}/img/help.gif" border="0" align="absmiddle"></a>:
        <input type="checkbox" name="is_published" value="1"<if data.is_published!="0" && data.is_published!=""> checked</if>>
        <if data.new>
          <input type="submit" name="save" value="${lang("insert")}">
        <else>
          <input type="submit" name="save" value="${lang("save")}">
        </if>
      </td>
    </tr>

    <tr>
      <td align="right" class="editfieldname">
          ${lang("content.import_date")}:
      </td>
      <td>
          ${data.date}
      </td>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" class="editfieldname">
         ${lang("content.lastchange_date")}:
      </td>
      <td>
        ${utility.encodeHTML(data.webdb_lastchange)}<br>
      </td>
      <td colspan="3">&nbsp;</td>
    </tr>
  
    <tr>
      <td align="right" valign="top" class="editfieldname">
        ${lang("content.create_date")}:
      </td>
      <td colspan="3">
        ${utility.encodeHTML(data.webdb_create)}<br><br>${lang("edit")} (yyyy-mm-dd [HH:mm]):
        <input type="text" size="10" maxlength="16" name="webdb_create" value=""><br>
      </td>
      <td colspan="3">&nbsp;</td>
    </tr>
  
    <tr>
      <td align="right" valign="top" class="editfieldname">
        ${lang("content.topic")}&nbsp;
        <a href="${config.docRoot}/help/content.html"><img src=" ${config.docRoot}/img/help.gif" border="0" align="absmiddle"></a>
        <a href="${config.docRoot}/help/content.html">
          <img src="${config.docRoot}/img/help.gif" border="0" align="middle"></a>
      </td>
      <td colspan="4">
        <table border=0 cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <select name="to_article_type">
                <list extra.articletypePopupData as a>
                  <option value="${a.key}" <if (a.key == data.to_article_type)>selected</if>>${lang("articletypes."+a.value)}</option>
                </list>
              </select>
            </td>
            <td rowspan="2">
              <select name="to_topic" size="5" multiple>
                <list extra.themenPopupData as t>
                  <option value="${t.key}" <list data.to_topics as to><if (t.key == to["id"])>selected</if></list>>${t.value}</option>
                </list>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <select name="to_language">
                <list extra.languagePopupData as l>
                  <option value="${l.key}" <if (l.key == data.to_language)>selected</if>>${l.value}</option>
                </list>
              </select>
            <td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
    <td align="right" valign="top" class="editfieldname">
      ${lang("content.title")}:&nbsp;
    </td>
    <td colspan="4">
      <input type="text" size="40" name="title" value="${utility.encodeHTML(data.title)}"><br>
    </tr>
    <tr>
      <td align="right" valign="top" class="editfieldname">
          ${lang("content.subtitle")}:&nbsp;<br> 
          <a href="${config.docRoot}/help/content.html#title">
          <img src="${config.docRoot}/img/help.gif" border="0" align="absmiddle"></a>
      </td>
      <td colspan="4">
        <input type="text" size="20" name="subtitle" value="${utility.encodeHTML(data.subtitle)}">
        <input type="text" size="20" name="edittitle" value="${utility.encodeHTML(data.edittitle)}">
      </td>
    </tr>
    <tr>
      <td align="right" valign="top" class="editfieldname">
        ${lang("content.location")}:
        <a href="${config.docRoot}/help/content.html"><img src="${config.docRoot}/img/help.gif" border="0" align="middle"></a>
      </td>
      <td colspan="4" >
        <input type="text" size="40" name="source" value="${utility.encodeHTML(data.source)}">
      </td>
    </tr>
    <tr>
      <td align="right" valign="top" class="editfieldname">
          ${lang("content.creator")}:
          <a href="${config.docRoot}/help/content.html">
          <img src="${config.docRoot}/img/help.gif" border="0" align="middle"></a>
      </td>
      <td colspan="4">
        <input type="text" size="40" name="creator" value="${utility.encodeHTML(data.creator)}"><br>
      </td>
    </tr>
  
    <tr>
      <td align="right" valign="top" class="editfieldname">
          ${lang("content.creator.email")}/${lang("content.creator.url")}:
          <a href="${config.docRoot}/help/content.html">
          <img src="${config.docRoot}/img/help.gif" border="0" align="absmiddle"></a>
      </td>
      <td colspan="4" >
        <input type="text" size="20" name="creator_email" value="${utility.encodeHTML(data.creator_email)}">
        <input type="text" size="20" name="creator_main_url" value="${utility.encodeHTML(data.creator_main_url)}">
      </td>
    </tr>
    <tr>
      <td align="right" valign="top" class="editfieldname">
          ${lang("content.creator.address")}/${lang("content.creator.telephone")}:
          <a href="${config.docRoot}/help/content.html">
          <img src="${config.docRoot}/img/help.gif" border="0" align="absmiddle"></a>
      </td>
      <td colspan="4" >
        <input type="text" size="20" name="creator_address" value="${utility.encodeHTML(data.creator_address)}">
        <input type="text" size="20" name="creator_phone" value="${utility.encodeHTML(data.creator_phone)}">
      </td>
    </tr>
    <tr>
      <td align="right" valign="top" class="editfieldname">
          ${lang("content.abstract")}:
          <a href="${config.docRoot}/help/content.html">
          <img src="${config.docRoot}/img/help.gif" border="0" align="absmiddle"></a>
      </td>
      <td colspan="4">
        <textarea cols="70" rows="15" name="description" wrap=virtual>${data.description}</textarea>
      </td>
    </tr>
  
    <tr>
      <td align="right" valign="top" class="editfieldname">
        ${lang("content.content")}: 
        <a href="${config.docRoot}/help/content.html"> <img src="${config.docRoot}/img/help.gif" border="0" align="absmiddle"></a>
        <br>
        ${lang("content.html")}
        <input type="checkbox" name="is_html" value="1"<if data.is_html=="1"> checked</if>>&nbsp;
        <a href="${config.docRoot}/help/content.html">
          <img src="${config.docRoot}/img/help.gif" border="0" align="absmiddle">
        </a>
      </td>
      <td colspan="4">
        <textarea cols="70" rows="20" name="content_data" wrap=virtual>${data.content_data}</textarea>
      </td>
    </tr>
    <tr>
      <td align="right" valign="top" class="editfieldname">
          ${lang("content.comment")}:<br>
          <i>${lang("content.internal")}</i>
      </td>
      <td colspan="4">
        <textarea cols="70" rows="6" name="comment" wrap=virtual>${utility.encodeHTML(data.comment)}</textarea>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2" align="right" valign="top">
        <if data.new>
          <input type="submit" name="save" value="${lang("insert")}">
        <else>
          <input type="submit" name="save" value="${lang("save")}">
        </if>
      </td>
    </tr>
    <tr>
      <td class="pink" colspan="5">
        ${lang("content.attachments")}
      </td>
    </tr>

  <!-- image stuff -->
  <list data.to_media_images as m>
<tr>
  <td align=right valign=top class="editfieldname">
      ${lang("content.images")}:
  </td>
  <td colspan="4" align="left" valign="top">
    <a href="${config.actionRoot}?module=Images&do=edit&id=${m["id"]}"><img src="${config.actionRoot}?module=Images&do=getIcon&id=${m["id"]}" alt="edit" border="0"></a>
      <a href="${config.actionRoot}?module=Content&do=dettach&cid=${data.id}&mid=${m["id"]}">${lang("delete")}</a>
  </td>
</tr>
</list>
<tr>
  <td align=right valign=top class="editfieldname">
      ${lang("content.media")}:
  </td>
  <td colspan="4" align="left" valign="top">
      <a href="${config.actionRoot}?module=Images&do=list&cid=${data.id}">${lang("content.addimage")}</a>
  </td>
</tr>
<list data.to_media_audio as m>
<tr>
  <td align=right valign=top class="editfieldname">
    ${lang("content.audio")}:
  </td>
  <td colspan="4" align="left" valign="top">
    <a href="${config.actionRoot}?module=Audio&do=edit&id=${m["id"]}"><img src="${config.docRoot}/img/${m["big_icon"]}" alt="edit" border="0"></a>
      <a href="${config.actionRoot}?module=Content&do=dettach&cid=${data.id}&mid=${m["id"]}">${lang("delete")}</a>
  </td>
</tr>
</list>
<tr>
  <td align=right valign=top class="editfieldname">
    ${lang("content.media")}:
  </td>
  <td colspan="4" align="left" valign="top">
      <a href="${config.actionRoot}?module=Audio&do=list&cid=${data.id}">${lang("content.addaudio")}</a>
  </td>
</tr>
<list data.to_media_video as m>
<tr>
  <td align=right valign=top class="editfieldname">
      ${lang("content.video")}:
  </td>
  <td colspan="4" align="left" valign="top">
    <a href="${config.actionRoot}?module=Video&do=edit&id=${m["id"]}"><img src="${config.docRoot}/img/${m["big_icon"]}" alt="edit" border="0"></a>
      <a href="${config.actionRoot}?module=Content&do=dettach&cid=${data.id}&mid=${m["id"]}">${lang("delete")}</a>
  </td>
</tr>
</list>
<tr>
  <td align=right valign=top class="editfieldname">
      ${lang("content.media")}:
  </td>
  <td colspan="4" align="left" valign="top">
      <a href="${config.actionRoot}?module=Video&do=list&cid=${data.id}">${lang("content.addvideo")}</a>
  </td>
</tr>
          <list data.to_media_other as m>
            <tr>
              <td align=right valign=top class="editfieldname">
                  ${lang("content.other")}:
              </td>
              <td colspan="4" align="left" valign="top">
                <a href="${config.actionRoot}?module=Video&do=edit&id=${m["id"]}"><img src="${config.docRoot}/img/${m["big_icon"]}" alt="edit" border="0"></a>
                <a href="${config.actionRoot}?module=Content&do=dettach&cid=${data.id}&mid=${m["id"]}">${lang("delete")}</a>
              </td>
            </tr>
          </list>
          <tr>
            <td align=right valign=top class="editfieldname">
                ${lang("content.media")}:
            </td>
            <td colspan="4" align="left" valign="top">
              <a href="${config.actionRoot}?module=OtherMedia&do=list&cid=${data.id}">${lang("content.addother")}</a>
            </td>
          </tr>
        </table>
      </form>
    <include "templates/admin/foot.template">
  </body>
</html>
