<html>
<head>
	<title>${lang("content.htmltitle")}</title>
	<link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css"
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "FUNCTIONS.template">
<include "head.template">

<form method="post" action="${config.actionRoot}">
	<input type="hidden" name="module" value="Content">
	<input type="hidden" name="id" value="${utility.encodeHTML(article.id)}">
	<if new=="1">
		<input type="hidden" name="do" value="insert">
	<else>
		<input type="hidden" name="do" value="update">
	</if>

<table width="90%" cellspacing="3" cellpadding="2">
	<tr>
		<td align="left" valign="top">
			<if new=="0">
				<a href="${config.actionRoot}?module=Comment&do=articlecomments&articleid=${article.id}&returnurl=${thisurl}">[ ${lang("content.comments")} ]</a>
			</if>
		</td>
		<td align="right" valign="top">
			${lang("content.published")} :
			<input type="checkbox" name="is_published" value="1"<if article.is_published!="0" && article.is_published!=""> checked</if>>
			<if new=="1">
				<input type="submit" name="save" value="${lang("insert")}">
			<else>
				<input type="submit" name="save" value="${lang("save")}">
			</if>
		</td>
	</tr>

	<tr>
		<td align="right" class="table_left">
			id # :
		</td>
		<td class="listrow2">
			${article.id}
		</td>
	</tr>
	
	<tr>
		<td align="right" class="table_left">
			${lang("content.lastchange_date")}:
		</td>
		<td class="listrow2">
			${utility.encodeHTML(article.webdb_lastchange)}<br>
		</td>
	</tr>

	<tr>
		<td align="right" valign="top" class="table_left">
			${lang("content.create_date")}:
		</td>
		<td class="listrow2">
			${utility.encodeHTML(article.webdb_create)}<br>${lang("edit")}:
			<input type="text" size="10" maxlength="16" name="webdb_create" value=""> &nbsp; <span class="small">(yyyy-mm-dd [HH:mm])</span>
		</td>
	</tr>

	<tr>
		<td align="right" valign="top" class="table_left">
			${lang("content.articletype")}:
		</td>
		<td class="listrow2">
				<select name="to_article_type">
					<list articletypes as a>
					<option value="${a.id}" <if (a.id == article.to_article_type)>selected</if>>${lang("articletypes."+a.name)}</option>
					</list>
				</select>
		</td>
	</tr>
	
	<tr>
		<td align="right" class="table_left">
			${lang("content.language")}
		</td>
		<td class="listrow2">
			<select name="to_language">
				<list languages as l>
				<option value="${l.id}" <if (l.id == article.to_language)>selected</if>>${l.name}</option>
				</list>
			</select>
		</td>
	</tr>
	
	
	
	
	<tr>
		<td align="right" valign="top" class="table_left">
			${lang("content.topic")}:
		</td>
		<td class="listrow2" >
			<if config["Mir.Localizer.Admin.TopicListFlavor"]!="0">      
			<table border=0 cellpadding="2" cellspacing="0">
				<tr> 
					<assign col=config["Mir.Localizer.Admin.TopicListColumns"]>
					<list topics as t>
						<if col=="0">
				</tr>
				<tr>
					<assign col=config["Mir.Localizer.Admin.TopicListColumns"]>
						</if>
					<td>
						<input type="checkbox" name="to_topic" value="${t.id}" <list article.to_topics as to><if (t.id == to["id"])>checked</if></list>>
						<span class="small"> ${t.title}</span>
					</td>
					<assign col=utility.increment(col, "-1")>
					</list>
						<if col!="0">
							<td colspan="${col}">
								&nbsp;
							</td>
						</if>
				</tr>
			</table>
			<else>
			<select name="to_topic" size="5" multiple>
				<list topics as t>
					<option value="${t.id}" <list article.to_topics as to><if (t.id == to["id"])>selected</if></list>>${t.title}</option>
				</list>
			</select>
			</if>        
		</td>
	</tr>
	
	<call TextInputTableRow      (lang("content.title"), 40, 255, "title", utility.encodeHTML(article.title))>
	<call TextInputTableRowLight (lang("content.subtitle"), 20, 20, "subtitle", utility.encodeHTML(article.subtitle))>
    <comment>
		<call TextInputTableRowLight ("", 20, 20, "subtitle", utility.encodeHTML(article.edittitle))>
	</comment>
	<call TextInputTableRowLight (lang("content.location"), 40, 40, "source", utility.encodeHTML(article.source))>
	<call TextInputTableRow      (lang("content.creator"), 40, 40, "creator", utility.encodeHTML(article.creator))>
	<call TextInputTableRowLight (lang("content.creator.email"), 40, 60, "creator_email", utility.encodeHTML(article.creator_email))>
	<call TextInputTableRowLight (lang("content.creator.url"), 40, 60, "creator_main_url", utility.encodeHTML(article.creator_main_url))>
	<call TextInputTableRowLight (lang("content.creator.address"), 20, 40, "creator_address", utility.encodeHTML(article.creator_address))>
	<call TextInputTableRowLight (lang("content.creator.telephone"), 20, 40, "creator_phone", utility.encodeHTML(article.creator_phone))>

	<tr>
		<td align="right" valign="top" class="table_left">
			${lang("content.abstract")}:
		</td>
		<td class="listrow2">
			<textarea cols="70" rows="15" name="description" wrap=virtual>${utility.encodeHTML(article.description)}</textarea>
		</td>
	</tr>

	<tr>
		<td align="right" valign="top" class="table_left">
			${lang("content.content")}: 
			<br>
			${lang("content.html")}&nbsp;
			<input type="checkbox" name="is_html" value="1"<if article.is_html=="1"> checked</if>>&nbsp;&nbsp;
		</td>
		<td class="listrow2">
			<textarea cols="70" rows="20" name="content_data" wrap=virtual>${utility.encodeHTML(article.content_data)}</textarea>
		</td>
	</tr>
	
	<tr>
		<td align="right" valign="top" class="table_left">
			${lang("content.comment")}:<br>
			<span class="small">${lang("content.internal")}</span>
		</td>
		<td class="listrow2">
			<textarea cols="70" rows="6" name="comment" wrap=virtual>${utility.encodeHTML(article.comment)}</textarea>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="right" valign="top">
			<if new=="1">
				<input type="submit" name="save" value="${lang("insert")}">
			<else>
				<input type="submit" name="save" value="${lang("save")}">
			</if>
		</td>
	</tr>
</table>
	
<if new=="0">

<table width="90%" cellspacing="0" cellpadding="0">

<tr>
<td align="left" valign="top">

<table cellspacing="3" cellpadding="2">
	<tr>
		<td class="table_head" colspan="2">
			${lang("content.family")}
		</td>
	</tr>
		
	<tr>
		<td align=right valign=top class="table_left">
			${lang("content.parent")}:
		</td>
		<td align="left" valign="top" class="listrow2">
			<if article.parent>
				<b>${utility.encodeHTML(article.parent.title)}</b><br>
				<a href="${config.actionRoot}?module=Content&do=edit&id=${article.parent.id}&returnurl=${utility.encodeURI(thisurl)}">${lang("content.viewparent")}</a> |
				<a href="${config.actionRoot}?module=Content&do=clearparent&id=${article.id}&returnurl=${utility.encodeURI(thisurl)}">${lang("content.clearparent")}</a> |
			</if>    
				&nbsp;<a href="${config.actionRoot}?module=Content&do=selectparent&id=${article.id}&returnurl=${utility.encodeURI(thisurl)}">${lang("content.selectparent")}</a>
		</td>
	</tr>
		
	<tr>
		<td align=right valign=top class="table_left">
			${lang("content.children")}:
		</td>
		<td align="left" valign="top" class="listrow2">
			<a href="${config.actionRoot}?module=Content&do=listchildren&article_id=${article.id}">${lang("content.viewchildren")}</a>
		</td>
	</tr>
</table>

</td>
<td align="right" valign="top">
<call showArticleAttachments(article)>
</td>
</tr>
</table>

</if>          

</form>

	<include "foot.template">
</body>
</html>
