<html>
<head>
	<title>${config["Mir.Name"]} | ${lang("fileedit.htmltitle")}</title>
  <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "head.template">

<br>
<b>${lang("fileedit.filename")} :</b> ${filename}

<br>

<form action="${config.actionRoot}" method="post">

	<input type="hidden" name="module" value="FileEdit">
	<input type="hidden" name="filename" value="${filename}">
	<input type="hidden" name="subdirectory" value="${subdirectory}">
        <input type="hidden" name="do" value="update">


	 <textarea cols="120" rows="40" name="text" wrap=virtual>${utility.encodeHTML(text)}</textarea>

<br>



        <input type="submit" name="save" value="${lang("save")}"> &nbsp;
        <input type="reset" value="${lang("reset")}">


</form>
<br>
<br>

${lang("preview")}

<hr size="2" width="90%" noshade>

${text}

<hr size="2" width="90%" noshade>
<br>

<include "foot.template">

</body>
</html>


