<html>
<head>
  <title>${config["Mir.Name"]} | ${lang("fileedit.htmltitle")}</title>
  <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "head.template">

<p>
  <b>${lang("fileedit.filename")} :</b> ${filename}<br>
  <b>${lang("fileedit.subdirectory")} :</b> ${subdirectory}
</p>

<br>

<form action="${config.actionRoot}" method="post">
  <input type="hidden" name="module" value="FileEdit">
  <input type="hidden" name="filename" value="${filename}">
  <input type="hidden" name="entry" value="${entry}">
  <input type="hidden" name="subdirectory" value="${subdirectory}">
  <input type="hidden" name="do" value="update">
  <input type="submit" class="majorbutton" name="save" value="${lang("save")}"> &nbsp;
  <input type="reset" class="majorbutton" value="${lang("reset")}">
  <br><br>  
  <textarea cols="120" rows="40" name="text" wrap=virtual>${utility.encodeHTML(text)}</textarea>
  <br><br>
  <input type="submit" class="majorbutton" name="save" value="${lang("save")}"> &nbsp;
  <input type="reset" value="${lang("reset")}">
</form>
<br>
<br>
<p><b>${lang("preview")} :</b></p>
<hr size="2" width="99%" noshade>
${text}
<hr size="2" width="99%" noshade>
<br>
<include "foot.template">

</body>
</html>


