<html>
<head>
	<title>${config["Mir.Name"]} | ${lang("fileeditlist.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
<include "templates/admin/head.template">


<if data.filelist>

<table border="0" cellpadding="2" cellspacing="1">

  <tr class="dark">

    <td><span class="witesmall"><b>${lang("fileeditlist.filename")}</b></span></td>
  	<td>&nbsp;</td>
  </tr>


  <list data.filelist as entry>
        <tr
        <if grey=="1"><assign grey="0">class="list1"<else>class="list2"<assign grey="1"> </if>
        >
                <td>${entry}&nbsp;</td>
                <td><span class="small"><a href="${config.actionRoot}?module=FileEdit&do=edit&filename=${entry}">${lang("edit")}</a></span></td>
        </tr>
  </list>

</table>

      <P>

<else>
  <P align="center">${lang("no_matches_found")}</p>
</if>
<include "templates/admin/foot.template">
</body>
</html>


