<a name="top"></a>

<table class="table-head" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="${config.docRoot}/img/logo_small.gif" border="0" align="left"></td>
    <td>
      ${config["Mir.Name"]} 
    </td>
  </tr>
</table>
<hr>
