<html>
<head>
	<title>${config["Mir.Name"]} | ${lang("start.content.hidden")}</title>
	<link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "head.template">

<table width="50%" align="center" >
	<tr>
		<td class="table_head">
			<b>${lang("start.content.hidden")}</b>
		</td>
	</tr>
	<tr>
		<td class="listrow2">


<form method="get" action="${config.actionRoot}">
	<input type="hidden" name="module" value="Hidden">
	<input type="hidden" name="do" value="list">



	${lang("month")}
	<select name="month">
	<option value="01" selected >01</option>
	<option value="02">02</option>
	<option value="03">03</option>
	<option value="04">04</option>
	<option value="05">05</option>
	<option value="06">06</option>
	<option value="07">07</option>
	<option value="08">08</option>
	<option value="09">09</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	</select>
	${lang("year")}
	<select name="year">
	<option value="2001">2001</option>
	<option value="2002">2002</option>
	<option value="2003" selected >2003</option>
	<option value="2004">2004</option>
	<option value="2005">2005</option>
	<option value="2006">2006</option>
	<option value="2007">2007</option>
	<option value="2008">2008</option>
	</select>

	&nbsp;

	<input type="submit" name="search" value="${lang("commentlist.search")}">
</form>


	</td>
</tr>
</table>


<br><br>

<hr size="4" width="98%" noshade>

<if data.contentlist>
<table cellpadding="6" width="98%" class="litegrey">
<tr>
	<td>
	<p>${lang("start.content.hidden")} | ${lang("month")}: ${data.month} , ${lang("year")}:${data.year}</p>
	</td>
</tr>
</table>

<list data.contentlist as i>
	<p
		${lang("content.title")}: <b>${i.title}</b><br>
		${lang("content.creator")}: ${i.creator}<br>
		${lang("message.date")}: ${i.webdb_create_formatted}<br>
		<br>
		<if i.to_media_audio >additional media, type: audio<br></if>
		<if i.to_media_video >additional media, type: video<br></if>
		<if i.to_media_other >additional media, type: other<br></if>
		<if i.to_media_images >additional media, type: image<br></if>
	</p>

	<p>
		${lang("content.abstract")}:<br>
		${i.description_parsed}
	</p>

	<p>
		${lang("content.content")}:<br>
		${i.content_data_parsed}
	</p>
	<p>&nbsp;</p>
	<hr size="4" width="98%" noshade>
	<p>&nbsp;</p>
</list>

<else>
	<tr><td><div class="box" align="center"><b>${lang("no_matches_found")}</b></div></td></tr>
</if>


<include "foot.template">

</body>
</html>


