<html>
<head>
	<title>${config["Mir.Name"]} | ${lang("imagelist.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
<SCRIPT LANGUAGE="JavaScript">
  function openWin(url) {
     window.open(url,"vc","scrollbars=1,height=400,width=300");
  }
</SCRIPT>
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "head.template">
<include "FUNCTIONS_media.template">

<call MediaSearch ("Images")>

<call MediaList   ("Images")>

<include "foot.template">
</body>
</html>
