<html>
<head>
	<title>${config["Mir.Name"]} | ${lang("imagelist.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
<SCRIPT LANGUAGE="JavaScript">
function openWin(url) {
   window.open(url,"vc","scrollbars=1,height=400,width=300");
}
</SCRIPT>
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">


<include "head.template">
<include "FUNCTIONS_media.template">
<call MediaSearch ("Images")>

<table>

  <tr class="darkgrey" >
  	<td class="table_head">
	<b>${lang("media.icon")}</b></td>
	<td class="table_head">
	<b>${lang("media.title")}</b></td>
    <td class="table_head">
	<b>${lang("media.format")}</b></td>
    <td class="table_head">
	<b>${lang("media.size")}</b></td>
    <td class="table_head">
	<b>${lang("media.mediafolder")}</b></td>
    <td class="table_head">
	<b>${lang("media.creator")}</b></td>
    <td class="table_head">
	&nbsp;</td>

  </tr>
  	<if data.contentlist>
  	<list data.contentlist as entry>
  	<tr <if grey=="1"><assign grey="0">class="listrow1"<else>class="listrow2"<assign grey="1"> </if>>
		<td>
  	  		<if entry.icon_data!="" && entry.icon_data!="0">
  				
				<a href="JavaScript:openWin('${config.actionRoot}?module=Images&do=getMedia&id=${entry.id}')">
	  			<img src="${config.actionRoot}?module=Images&do=getIcon&id=${entry.id}" border=0></a>
				
			</if>
		</td>
  		<td>
			${entry.title}&nbsp;
  	  		<if entry.description><br>${entry.description}</if>
		</td>
  		<td>
			${entry.media_descr}&nbsp;
		</td>
  		<td>
			${entry.human_readable_size}&nbsp;
		</td>
  		<td>
			${data.mediafolderHashdata[entry.to_media_folder]["name"]}&nbsp;
		</td>
  		<td>
			${entry.creator}&nbsp;
		</td>
  		<td>&nbsp;
			<if data.articleid>
				<a href="${config.actionRoot}?module=Content&do=attach&mid=${entry.id}&articleid=${data.articleid}">${lang("attach")}</a>
			<else>
  			<if data.commentid>
  				<a href="${config.actionRoot}?module=Comment&do=attach&mid=${entry.id}&commentid=${data.commentid}">${lang("attach")}</a>
  			<else>
  				<a href="${config.actionRoot}?module=Images&do=delete&id=${entry.id}&query_text=${utility.encodeHTML(data.query_text_encoded)}&query_field=${utility.encodeHTML(data.query_field)}&query_is_published=${data.query_is_published}&query_media_folder=${data.query_media_folder}&offset=${data.offset}">${lang("delete")}</a>
      			| <a href="${config.actionRoot}?module=Images&do=edit&id=${entry.id}">${lang("edit")}</a>
        </if>
			</if>
		</td>
  	</tr>
	</list>
	<tr>
		<td colspan="7" class="table_foot">
			${data.count} ${lang("records")} / ${lang("show_from_to", data.from, data.to)}
		</td>
	</tr>

	<tr>
		<td>
			<if data.prev>
				<a href="${config.actionRoot}?module=Images&do=list&query_text=${data.query_text_encoded}&query_field=${data.query_field}&query_is_published=${data.query_is_published}&query_media_folder=${data.query_media_folder}&offset=${data.prev}&prev=zur&uuml;ck&articleid=${data.articleid}&commentid=${data.commentid}">${lang("list.previous")}</a>&nbsp;
			</if>
			<if data.next>
				<a href="${config.actionRoot}?module=Images&do=list&query_text=${data.query_text_encoded}&query_field=${data.query_field}&query_is_published=${data.query_is_published}&query_media_folder=${data.query_media_folder}&offset=${data.next}&next=weiter&articleid=${data.articleid}&commentid=${data.commentid}">${lang("list.next")}</a>
			</if>
		</td>
	</tr>

<else>
  <tr><td align="center" class="box" colspan="7">${lang("no_matches_found")}</td></tr>
</if>
</table>

<include "foot.template">
</body>
</html>
