<html>
<head>
    <title>${config["Mir.Name"]} | ${lang("infomessage.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>
<body>
<include "head.template">
<table width="100%" border="0" align="center">
	<tr>
		<td>
			<p>
			  <b>${lang("infomessage."+message, argument1, argument2)}<b>
			<p>
		</td>
	</tr>
</table>
<include "foot.template">
</body>
</html>
