<html>
<head>
        <title>${config["Mir.Name"]} | ${lang("language.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
<head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "templates/admin/head.template">
<form action="${config.actionRoot}" method="post">
	<input type="hidden" name="module" value="Language">
	<input type="hidden" name="id" value="${id}">
	<if data.new><input type="hidden" name="do" value="insert">
	<else><input type="hidden" name="do" value="update"></if>
<table border="0">

  <tr>
    <td align="right" class="darkgrey"><span class="witesmall">
	  <B>${lang("language.name")}:</B></span></td>
    <td>
	  <input type="text" name="name" size="30" value="${data.name}">
    </td>
  </tr>

  <tr>
    <td align="right" class="darkgrey"><span class="witesmall">
	  <B>${lang("language.code")}:</B></span></td>
    <td>
	  <input type="text" name="code" size="2" maxlength="2" value="${data.code}">
    </td>
  </tr>


  <tr>
    <td colspan="2" align="right"> <span class="witetext"><if data.new>
      <input type="submit" name="save" value="${lang("insert")}">
    <else>
      <input type="submit" name="save" value="${lang("save")}">
    </if> </span></form></span>
    </td>
</table>
<include "templates/admin/foot.template">
</body>
</html>
