<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("language.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  <head>
  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

    <include "FUNCTIONS.template">
    <include "head.template">
  
      <if new=="1">
        <assign method="insert">
      <else>
        <assign method="update">
      </if>
      
      <call EditStart(
         ["module", "id", "do"],
         [module, entity.id, method])>
         
        <call EditReadonlyTextNormal(lang("language.id"), entity.id)>
        <call EditTextNormal(lang("language.name"), 40, 255, "name", entity.name)>
        <call EditTextNormal(lang("language.code"), 2, 2, "code", entity.code)>
      
        <if new=="1">
          <call EditSubmitButtonNormal(lang("insert"), "save")>
        <else>
          <call EditSubmitButtonNormal(lang("save"), "save")>
        </if> 

      <call EditEnd()>
      
      <if returnurl>
        <call showBack(returnurl)>
      <else>
        <call showBack("module="+module+"&amp;do=list")>
      </if>

    <include "foot.template">
  </body>
</html>
