<html>
<head>
	<title>${config["Mir.Name"]} | ${lang("linkimcslist.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "head.template">

<form method="post" action="${config.actionRoot}">
	<input type="hidden" name="module" value="LinksImcs">
	<input type="hidden" name="do" value="list">
	<input type="hidden" name="cid" value="">
	<table border="0">
	<tr class="table_head">
		<td>${lang("linkimcslist.search_in")}:</td>
		<td>${lang("linkimcs.parent")}:</td>
		<td>${lang("linkimcs.language")}:</td>
		<td>&nbsp;</td>
	</tr>
	
	<tr>
	<td>
		<input type="text" size="10" maxlength="20" name="query_text" value="${data.query_text}">
		<select name="query_field">
			<option value="title"<if data.query_field == "title"> selected</if>>${lang("linkimcs.name")}
			<option value="url"<if data.query_field == "url"> selected</if>>${lang("linkimcs.url")}
    	</select>
	</td>
	<td>
		<select name="to_parent_id">
			<option value=""></option>
		    <list data.parentlist as parent><option value="${parent.id}"<if to_parent_id == parent.id> selected</if>>${parent.title}</option>
			</list>
	    </select>
	</td>
	<td>
		<select name="to_language">
 			<option value="">${lang("all")}</option>
			<list data.languagelist as language><option value="${language.id}"<if to_language == language.id> selected</if>>${language.name}</option>
			</list>	
   		</select>
	</td>
	<td>
		<input type="submit" name="search" value="${lang("filter")}">
	</td>
	</tr>	
	</table>
	</form>
	
<if data.imcslist>
<table border="0">
  <tr class="darkgrey">
    <td><span class="witesmall">
		<b>${lang("linkimcs.name")}</b></span></td>
    <td><span class="witesmall">
		<b>${lang("linkimcs.parent")}</b></span></td>
	<td><span class="witesmall">
		<b>${lang("linkimcs.url")}</b></span></td>
	<td><span class="witesmall">
		<b>${lang("linkimcs.sort_by")}</b></span></td>
	<td><span class="witesmall">
		<b>${lang("linkimcs.language")}</b></span></td>
	<td><span class="witesmall">
		<b>&nbsp;</b></span></td>
  </tr>
  <list data.imcslist as entry>
  <assign parent = "">
  <assign language = "">
  <list data.parentlist as p>
		<if entry.to_parent_id == p.id><assign parent = p.title></if>
  </list>
  <list data.languagelist as l>
		<if entry.to_language == l.id><assign language = l.name></if>
  </list>

  <tr <if grey=="1"><assign grey="0">class="list1"<else>class="list2"<assign grey="1"> </if>>
  	<td><span class="small">${entry.title}&nbsp;</span></td>
  	<td><span class="small">${parent}</span></td>
	<td><span class="small">${entry.url}</span></td>
  	<td><span class="small">${entry.sortpriority}</span></td>
  	<td><span class="small">${data.language}</span></td>
	<td><span class="text">&nbsp;<a href="${actionRoot}?module=LinksImcs&do=delete&id=${entry.id}">${lang("delete")}</a>
    	| <a href="${actionRoot}?module=LinksImcs&do=edit&id=${entry.id}">${lang("edit")}</a></span>
  	</td>
  </tr>
  </list>
  <tr>
  <td colspan="6" class="darkgrey"><span class="witesmall">
  	${data.count} ${lang("records")} / ${lang("show_from_to", data.from, data.to)}</span></td>
  <td>&nbsp;</td>
  </tr>
</table>
<P>
<if data.prev>
	<a href="${config.actionRoot}?module=LinksImcs&do=list&order=${data.order}&query_text=${data.query_text_encoded}&query_field=${data.query_field}&to_parent_id=${data.to_parent_id}&to_language=${data.to_language}&prevoffset=${data.prev}&prev=zur&uuml;ck">${lang("list.previous")}</a>&nbsp;
</if>
<if data.next>
<a href="${config.actionRoot}?module=LinksImcs&do=list&order=${data.order}&query_text=${data.query_text_encoded}&query_field=${data.query_field}&to_parent_id=${data.to_parent_id}&to_language=${data.to_language}&nextoffset=${data.next}&next=weiter">${lang("list.next")}</a>
</if>

<else>
  <P align="center">${lang("no_matches_found")}</p>
</if>
<include "foot.template">
</body>
</html>
