<html>
<head>
        <title>${config["Mir.Name"]} | ${lang("mediafolder.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
<head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
    <include "FUNCTIONS.template">
    <include "head.template">
  
      <if new=="1">
        <assign method="insert">
      <else>
        <assign method="update">
      </if>
      
      <call EditStart( ["module", "id", "do"], [module, entity.id, method])>
         
        <call EditReadonlyTextNormal(lang("mediafolder.id"), entity.id)>
        
        <call EditTextNormal(lang("mediafolder.date"), 8, 8, "date", entity.date)>
        <call EditTextNormal(lang("mediafolder.name"), 40, 80, "name", entity.name)>
        <call EditTextNormal(lang("mediafolder.location"), 40, 80, "place", entity.place)>

        <call EditTextAreaNormal(lang("mediafolder.comment"), "", 40, 5, "comment", entity.comment)>
        <call EditTextAreaNormal(lang("mediafolder.keywords"), "", 40,5, "keywords", entity.keywords)>
        
        <if new=="1">
          <call EditSubmitButtonNormal(lang("insert"), "save")>
        <else>
          <call EditSubmitButtonNormal(lang("save"), "save")>
        </if> 

      <call EditEnd()>
      
      <if returnurl>
        <call showBack(returnurl)>
      <else>
        <call showBack("module="+module+"&amp;do=list")>
      </if>

    <include "foot.template">
</body>
</html>
