<html>
<head>
	<title>${config["Mir.Name"]} | ${lang("mediafolderlist.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "templates/admin/head.template">
<if data.contentlist>
	<table border="0">
  		<tr class="darkgrey">
    		<td><span class="witetext"><b>${lang("mediafolder.date")}</b></span></td>
		    <td><span class="witetext"><b>${lang("mediafolder.name")}</b></span></td>
    		<td><span class="witetext"><b>${lang("mediafolder.location")}</b></span></td>
			<td><span class="witetext"><b>${lang("mediafolder.comment")}</b></span></td>
			<td><span class="witetext"><b>${lang("mediafolder.keywords")}</b></span></td>
 		 </tr>
	  <list data.contentlist as entry>
		  <tr <if grey=="1"><assign grey="0">class="list1"<else>class="list2"<assign grey="1"> </if>>
			<td>${entry.date}&nbsp;</td>
  			<td><b>${entry.name}</b>&nbsp;</td>
  			<td>${entry.place}&nbsp;</td>
  			<td>${entry.comment}&nbsp;</td>
  			<td>${entry.keywords}&nbsp;</td>
  			<td><span class="text"><a href="${config.actionRoot}?module=Mediafolder&do=delete&id=${entry.id}">${lang("delete")}</a>
    			| <a href="${config.actionRoot}?module=Mediafolder&do=edit&id=${entry.id}">${lang("edit")}</a>
				| <a href="${config.actionRoot}?module=Images&do=list&query_media_folder=${entry.id}">${lang("list")}</a></span></td>
 		  </tr>
  	  </list>
  		<tr>
    	<td colspan="5" class="darkgrey"><span class="witetext">${data.count} ${lang("records")} /
        ${lang("show_from_to", data.from, data.to)}</span></td>
    	<td>&nbsp;</td>
  		</tr>
	</table>
      <P>
	<if data.prev>
	<a href="${config.actionRoot}?module=Mediafolder&do=list&where=${data.where}&prevoffset=${data.prev}&prev=zur&uuml;ck">${lang("list.previous")}</a>&nbsp;
	</if>
	<if data.next>
	<a href="${config.actionRoot}?module=Mediafolder&do=list&where=${data.where}&nextoffset=${data.next}&next=weiter">${lang("list.next")}</a>
	</if>
<else>
  <P align="center">${lang("no_matches_found")}</p>
</if>
<include "templates/admin/foot.template">
</body>
</html>


