<html>
<head>
        <title>${config["Mir.Name"]} | ${lang("mediafolder.htmltitle")}</title>
        <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
<head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "FUNCTIONS.template">  
<include "head.template">

<form method="post" action="${config.actionRoot}">
  <input type=hidden name=module value=Mediafolder>
  <input type="hidden" name="id" value="${data.id}">
  <if data.new> <input type="hidden" name="do" value="insert">
  <else>   <input type="hidden" name="do" value="update"></if>

<table border="0" cellspacing="2" cellpadding="2">
<call TextInputTableRow (lang("mediafolder.date"), 8, 8, "date", data.date)>
<call TextInputTableRow (lang("mediafolder.name"), 40, 80, "name", data.name)>  
<call TextInputTableRow (lang("mediafolder.location"), 40, 80, "place", data.place)>  
<call TextAreaTableRow (lang("mediafolder.comment"), "", 40, 5, "comment", data.comment)>  
<call TextAreaTableRow (lang("mediafolder.keywords"), "", 40, 4, "keywords", data.keywords)>  


  <tr>
    <td colspan="4" align="right" class="table-foot"> 
    <if data.new> <input type="submit" name="save" value="${lang("insert")}">
      <else>   <input type="submit" name="save" value="${lang("save")}"></if>
    
    </td>
  </tr>
</table>

</form>
    <p>      
      <a class="link-box" href="${config.actionRoot}?module=Mediafolder&do=list">[&lt;] ${lang("list")} </a> &nbsp;
      <a class="link-box" href="${config.actionRoot}">[&lt;&lt;&lt;] ${lang("head.start")}</a>
  </p>

<include "foot.template">
</body>
</html>
