<html>
<head>
  <title>${config["Mir.Name"]} | ${lang("producerqueue.htmltitle")}</title>
<link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
<include "head.template">

<table width="99%" cellspacing="15"><tr><td valign="top" align="left">

<p class="box"><b>${lang("producer.producerlist.title")}</b></p>

<table border="0" cellspacing="3" cellpadding="2">
  <tr>
    <td class="box_head" colspan="2"><b>${lang("producer.verb.name")}</b></td>
    <td class="box_head" colspan="2"><b>${lang("producer.verb.description")}</b></td>
    
  </tr>

  <assign grey="0">
  <list producers as p>
    <tr>
      <td colspan="4" class="table-head"><b>${p.name}</b></td>
    </tr>

    <list p.verbs as v>
    <tr <if grey=="1">class="listrow2"<else>class="listrow2"</if>>
      <td width="25"></td>
      <if v.name=="all">
        <td class="small text-alert">${v.name} [!]</td>
      <else>
        <td class="small">${v.name}</td>
      </if>
      <td class="small">${v.description}</td>
      <td class="small"><a href="${config.actionRoot}?module=Producer&do=enqueue&producer=${utility.encodeURI(p.name)}&verb=${utility.encodeURI(v.name)}">${lang("producer.verb.enqueue")}</a>&nbsp;</td>
    </tr>
    <if grey=="1"><assign grey="0"><else><assign grey="1"></if>
    </list>
    
  </list>
</table>


</td>



<td valign="top" align="right">

<p class="box" align="left"><b>${lang("producer.jobqueue.title")}</b> <a class="link-box"  href="${config.actionRoot}?${thisurl}">${lang("producer.jobqueue.refresh")}</a></p>

<form method="post" action="${config.actionRoot}">
      <input type="hidden" name="module" value="Producer">
      <input type="hidden" name="do" value="cancel">
      
<table border="0" cellspacing="3" cellpadding="2">
  <tr >
    <td class="bg-neutral"><b>${lang("producer.job.name")}</b></td>
    <td class="bg-neutral"><b>${lang("producer.job.status")}</b></td>
    <td class="bg-neutral small"><b>${lang("producer.job.date")}</b></td>
    <td class="bg-neutral small"><b>${lang("producer.job.runningtime")}</b></td>
    <td class="bg-neutral">&nbsp;</td>
  </tr>

  <if queue>
    <assign grey="1">
    <list queue as q>
      <tr <if grey=="1">class="listrow1"<else>class="listrow2"</if>>
        <td class="small">${q.description}</td>
        
        <if q.status=="pending">
          <td class="text-alert small">${q.status}</td>
        <else>
          <td class="small">${q.status}</td>
        </if>
        
        <td class="small">${q.lastchange.format("HH:mm:ss")}</td>
        <td class="small">${q.runningtime.format("####.#")}s</td>
        <td class="small">
          <if q.finished!="1">
            <input type="checkbox" name="jobid" value="${q.identifier}">
          <else>
            &nbsp;
          </if>  
        </td>
      </tr>
      <if grey=="1"><assign grey="0"><else><assign grey="1"></if>
    </list>
  <else>
    <tr class="list2">
      <td colspan="5" align="center">${lang("producer.job.empty")}</td>
    </tr>
  </if>
  <tr>
    <td colspan="5" class="table-foot" align="left">
      <br>
      <input class="minorbutton" type="submit" value="${lang("producer.jobqueue.canceljobs")}">
    </td>
  </tr>
</table>
</form>

</td></tr></table>

<include "foot.template">

</body>
</html>


