<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("start.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css"
  </head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

  <include "FUNCTIONS.template">
  <include "head.template">

<table border="0" width="100%">
  <tr>
    <td valign="top" width="40%">
    <!-- ###### left column ###### -->
    <p class="box-head"><b>${lang("start.administer.title")}</b></p>
    <p class="box"> 
      <list administeroperations as a>
          <a href="${config.actionRoot}?${a.url}">${lang("start.administer."+a.name)}</a><br>
      </list>
    </p>

    <p class="box-head"><b>${lang("start.articles.title")}</b></p>  
    <p class="box">
      <list articletypes as a>
          <a href="${config.actionRoot}?module=Content&do=search&searcharticletype=${a.id}&searchorder=datedesc">&gt; ${lang("start.allarticlesoftype", lang("articletypes."+a.name))}</a><br>
      </list>
      <br>  
      <a href="${config.actionRoot}?module=Content&do=list&where=${utility.encodeURI("is_published='f'")}&order=${utility.encodeURI("webdb_create desc")}" >&gt; ${lang("start.content.not_published")}</a><br>
      <a href="${config.actionRoot}?module=Content&do=list&where=${utility.encodeURI("id in (select content_id from content_x_media, media where media.id=media_id)")}&order=${utility.encodeURI("webdb_create desc")}">&gt; ${lang("start.content.with_media")}</a><br>
      <a href="${config.actionRoot}?module=Content&do=list&where=&order=${utility.encodeURI("webdb_lastchange desc")}">&gt; ${lang("start.content.last_changes")}</a><br>
      <a href="${config.actionRoot}?module=Content&do=list&where=${utility.encodeURI("not (comment is null or comment like '')")}&order=${utility.encodeURI("webdb_create desc")}">&gt; ${lang("start.content.with_comments")}</a><br>
      <br>
      <a href="${config.actionRoot}?module=Content&do=list&where=&order=${utility.encodeURI("webdb_create desc")}">&gt; ${lang("start.content.all")}</a><br>
    </p>
    <p class="box-head"><b>${lang("start.comments.title")}</b></p>  
    <p class="box">
      <list commentstatuses as a>
          <a href="${config.actionRoot}?module=Comment&do=list&where=to_comment_status%3D${a.id}&order=webdb_create%20desc">&gt; ${lang("start.allcommentswithstatus", lang("commentstatus."+a.name))}</a><br>
      </list>
    </p>


    <p class="box-head"><b>${lang("start.extra.title")}</b></p>   
    <p class="box"> 
      <a href="${config.actionRoot}?module=Hidden&do=list">&gt; ${lang("start.content.hidden")}</a>
      <list fileeditentries as e>
        <br>
          <a href="${config.actionRoot}?module=FileEdit&do=list&entry=${e}">&gt; ${lang("start.fileedit."+e+".title")}</a>
      </list>
    </p>
</td>

<!-- ###### end left column ###### -->

<td width="2%">&nbsp;</td>
<!-- ###### Spacer-column ###### -->

<comment> Middle column </comment>
      
    <td valign="top" width="30%">
    
    <p class="box-head"><b>${lang("start.addandedit.title")}</b></p>
    <div class="box">
      <a href="${config.actionRoot}?module=Content&do=add&where=aktuell">&gt; ${lang("start.content.new")}</a>
      <br>
      
      <a href="${config.actionRoot}?module=Breaking&do=list">&gt; ${lang("start.breaking.title")}</a>&nbsp;
      <a href="${config.actionRoot}?module=Breaking&do=add">[+]</a>
      <form>
        <input type="hidden" name="module" value="Content">
        <input type="hidden" name="do" value="edit">
        ${lang("start.content.open_by_id")}: 
        <input type="text" name="id" value="" size="7">
        <input type="submit" value=" &gt; ">
      </form>
      <form>
        <input type="hidden" name="module" value="Comment">
        <input type="hidden" name="do" value="edit">
        ${lang("start.comment.open_by_id")}: 
        <input type="text" name="id" value="" size="7">
        <input type="submit" value=" &gt; ">
      </form>
      
      
    </div>
    
    <p class="box-head"><b>${lang("start.media.title")}</b></p> 
    <div class="box">
      
      <a href="${config.actionRoot}?module=Images&do=list">&gt; ${lang("start.images.title")}</a>&nbsp;
      <a href="${config.actionRoot}?module=Images&do=add">[+]</a><br>

      <a href="${config.actionRoot}?module=Audio&do=list">&gt; ${lang("start.audio.title")}</a>&nbsp;
      <a href="${config.actionRoot}?module=Audio&do=add">[+]</a><br>

      
      <a href="${config.actionRoot}?module=Video&do=list">&gt; ${lang("start.video.title")}</a>&nbsp;
      <a href="${config.actionRoot}?module=Video&do=add">[+]</a><br>

      
      <a href="${config.actionRoot}?module=OtherMedia&do=list">&gt; ${lang("start.other_media.title")}</a>&nbsp;
      <a href="${config.actionRoot}?module=OtherMedia&do=add" >[+]</a><br>

      <br>
      <a href="${config.actionRoot}?module=Mediafolder&do=list">&gt; ${lang("start.mediafolder.title")}</a>&nbsp;
      <a href="${config.actionRoot}?module=Mediafolder&do=add">[+]</a><br>
    </div>
    
    
    
    <p class="box-head"><b>${lang("start.producers.title")}</b></p>
    <p class="box">
      <a href="${config.actionRoot}?module=Producer&do=produceAllNew">&gt; ${lang("start.producers.produceAllNew")}</a><br>
      <a href="${config.actionRoot}?module=Producer&do=showProducerQueueStatus">&gt; ${lang("start.producers.advanced")}</a>
    </p>
    
    <p class="box bg-neutral">
      <a href="${config.actionRoot}?module=Admin&do=superusermenu">${lang("start.superusermenu")}</a>   
    </p>

  </td>

    <td width="2%">&nbsp;</td>

<comment> RIGHT COLUMN </comment>

  <td valign="top" width="26%" rowspan="2">

  <comment>internal messageboard</comment>


    <p class="box-head"><b>${lang("start.messageboard.title")}</b></p>
    <div class="box-bg">
      <span class="small">
        <a href="${config.actionRoot}?module=Message&do=add">[ + ${lang("add")}]</a> 
        <a href="${config.actionRoot}?module=Message&do=list">[${lang("edit")}]</a>
      </span>
      <if messages>
        <list messages as m>
          <p class="x-small">
            <if m.title><b>${m.title}</b><br></if>
            ${m.description}<br>
            <span class="x-small">
              <if m.creator><i>by: ${m.creator}</i> / </if>${m.creationdate.format(config["Mir.DefaultDateTimeFormat"])}}<br>
            </span>
          </p>
        </list>
      <else>
        <p><i>${lang("start.messageboard.no_messages")}</i>
      </if></span>
    </div>
  </td>

  </tr>
  
  <comment> BOTTOM ROW FOR SEARCH </comment>
  <tr>
    <td colspan="3" valign="top">
      <p class="box-head"><b>${lang("start.search.title")}</b></p>
      <div class="box">
        <call ContentSearch ("")>
      </div>

<comment>      
      <!-- HELP -DEMO -->
      <p class="box">
        <b>HELP-Demo:</b><br>
        popup small-link: <call Help ("../help/content_datum.html", "1", "" )>&nbsp;&nbsp;  popup big-link: <call Help ("../help/content_datum.html", "1", "1" )><br><br>
        newwin small-link: <call Help ("../help/content_datum.html", "", "" )>&nbsp;&nbsp; newwin big-link: <call Help ("../help/content_datum.html", "", "1" )>
      </p>
</comment>      
      
    </td>
  </tr>
  
</table>

  <include "foot.template">

  </body>
</html>
