<html>
<head>
	<title>${config["Mir.Name"]} | ${lang("superusermenu.htmltitle")}</title>
	<link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

<include "head.template">

<table width="95%">
  <tbody>
    <tr>
		<td width="30%">  
		<p class="box-head"><b>${lang("superusermenu.manage")}:</b></p>
		<p class="box">
		&gt; <a href="${config.actionRoot}?module=Topics&do=list">${lang("superusermenu.topics")}</a><br>
		&gt; <a href="${config.actionRoot}?module=ArticleType&do=list">${lang("superusermenu.articletypes")}</a><br>
		&gt; <a href="${config.actionRoot}?module=CommentStatus&do=list">${lang("superusermenu.comment_statuses")}</a><br>
		&gt; <a href="${config.actionRoot}?module=Users&do=list">${lang("superusermenu.users")}</a><br>
		&gt; <a href="${config.actionRoot}?module=Language&do=list">${lang("superusermenu.languages")}</a><br>
		&gt; <a href="${config.actionRoot}?module=Abuse">${lang("superusermenu.abuse")}</a><br>
		&gt; <a href="${config.actionRoot}?module=LinksImcs&do=list">${lang("superusermenu.imcs")}</a><br>
		</p>
		</td>
      <td>&nbsp;  </td>
      <td>&nbsp;  </td>
    </tr>
  </tbody>
</table>
<p><a class="link-box" href="${config.actionRoot}">[&lt;&lt;&lt;] ${lang("head.start")}</a></p>

<include "foot.template">

</body>
</html>

