<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("topic.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  <head>

  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
    <include "FUNCTIONS.template">
    <include "head.template">
  
      <if new=="1">
        <assign method="insert">
      <else>
        <assign method="update">
      </if>
      
      <call EditStart(
         ["module", "id", "do"],
         [module, entity.id, method])>
         
        <call EditReadonlyTextNormal(lang("topic.id"), entity.id)>
         
        <call EditTextNormal(lang("topic.title"), 40, 255, "title", entity.title)>
        <call EditTextAreaNormal(lang("topic.description"), "", 40, 3, "description", entity.description)>
        <call EditTextNormal(lang("topic.filename"), 20, 255, "filename", entity.filename)>
        <call EditTextNormal(lang("topic.main_url"), 40, 255, "main_url", entity.main_url)>
        <call EditTextNormal(lang("topic.archive_url"), 40, 255, "archiv_url", entity.archiv_url)>
        
        
      
        <if new=="1">
          <call EditSubmitButtonNormal(lang("insert"), "save")>
        <else>
          <call EditSubmitButtonNormal(lang("save"), "save")>
        </if> 

      <call EditEnd()>
      
      <if returnurl>
        <call showBack(returnurl)>
      <else>
        <call showBack("module=Topics&do=list")>
      </if>

    <include "foot.template">
  </body>
</html>
