<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("topiclist.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  </head>

  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

    <include "FUNCTIONS.template">
    <include "head.template">
    
    <call showAddOrBack("1", module, "Admin", "superusermenu")>

    <if entities>
      <call showPrevNextLinks(prevurl, nexturl, "left")>
      <call EntityTable(entities, [
           "title", 
           "filename", 
           "main_url", 
           "archiv_url",
           "description"], 
           [ lang("topic.title"), 
             lang("topic.filename"), 
             lang("topic.main_url"), 
             lang("topic.archive_url"), 
             lang("topic.description")], 
          from, to, count, "1", "1", module)>
      <call showPrevNextLinks(prevurl, nexturl, "left")>
      <call showAddOrBack("1", module, "Admin", "superusermenu")>
    <else>
      <P align="center">${lang("no_matches_found")}</p>
    </if>

    <include "foot.template">
  </body>
</html>


