<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("user.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  <head>

  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">

  <include "head.template">

    <form action="${config.actionRoot}" method="post">
      <input type="hidden" name="module" value="Users">
      <input type="hidden" name="id" value="${data.id}">
      <if data.new>
        <input type="hidden" name="do" value="insert">
      <else>
        <input type="hidden" name="do" value="update">
      </if>
    
      <table border="0">
        <tr> 
          <td align="right" class="darkgrey">
            <span class="witesmall">
              <b>${lang("user.login")}:</b>
            </span>
          </td>
          <td>
            <input type="text" size="40" name="login" value="${data.login}">
          </td>
        </tr>
        <tr>
          <td align="right" class="darkgrey">
            <span class="witesmall">
              <b>${lang("user.password")}:</b>
            </span>
          </td>
          <td>
            <input type="password" size="20" name="newpassword" value="">
          </td>
        </tr>
        <tr>
          <td align="right" class="darkgrey">
            <span class="witesmall">
              <b>${lang("user.password2")}:</b>
            </span>
          </td>
          <td>
            <input type="password" size="20" name="newpassword2" value="">
          </td>
        </tr>
        <tr>
          <td align="right" class="darkgrey">
            <span class="witesmall">
              <b>${lang("user.admin")}:</b>
            </span>
          </td>
          <td>
            <input type="checkbox" name="is_admin" value="1"<if data.is_admin=="1"> checked</if>>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="right"> 
            <span class="witetext">
              <if data.new>
                <input type="submit" name="save" value="${lang("insert")}">
              <else>
                <input type="submit" name="save" value="${lang("save")}">
              </if> 
            </span>
          </td>
        </tr>
      </table>
    </form>
    
    <include "foot.template">
  
  </body>
</html>
