<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("userlist.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  </head>

  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
        
    <include "FUNCTIONS.template">
    <include "head.template">
    
    <call showAddOrBack(mayAddUsers, "Users", "Admin", "superusermenu")>

    <if users>
      <call showPrevNextLinks(prevurl, nexturl, "left")>
      <call EntityTable(users, ["login","is_admin"], [lang("user.login"), lang("user.admin")], from, to, count, mayDeleteUsers, mayEditUsers, "Users")>
      <call showPrevNextLinks(prevurl, nexturl, "left")>
      <call showAddOrBack(mayAddUsers, "Users", "Admin", "superusermenu")>
    <else>
      <P align="center">${lang("no_matches_found")}</p>
    </if>

    <include "foot.template">
  </body>
</html>


