<html>
<head>
  <title>${config["Mir.Name"]} | ${lang("user.htmltitle")}</title>
  <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
<head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
  
  <include "FUNCTIONS.template">
  <include "head.template">

<form action="${config.actionRoot}" method="post">
  <input type="hidden" name="module" value="Users">
  <input type="hidden" name="id" value="${user.id}">
  <if passwordonly=="1">
      <input type="hidden" name="do" value="updatepassword">
  <else>
    <if new=="1">
      <input type="hidden" name="do" value="insert">
    <else>
      <input type="hidden" name="do" value="update">
    </if>
  </if>

  <table border="0">
    <if passwordonly=="1">
      <call ReadonlyTextTableRow(lang("user.login"), user.login)>
      <call PasswordTextInputTableRow (lang("user.oldpassword"), 40, 40, "oldpassword", "")>
    <else>
      <call TextInputTableRow (lang("user.login"), 40, 40, "login", user.login)>
      <call PasswordTextInputTableRow (lang("user.ownpassword"), 40, 40, "oldpassword", "")>
    </if>
    <call PasswordTextInputTableRow (lang("user.password"), 40, 40, "newpassword", "")>
    <call PasswordTextInputTableRow (lang("user.password2"), 40, 40, "newpassword2", "")>
    <if passwordonly=="1">
      <call ReadonlyTextTableRow(lang("user.admin"), user.is_admin)>
    <else>
      <call CheckboxTableRow(lang("user.admin"), "is_admin", user.is_admin)>
    </if>
    <tr>
    <td colspan="2" align="right" class="table-foot"> 
      <span class="witetext">
      <if new=="1">
        <input type="submit" name="save" value="${lang("insert")}">
      <else>
        <input type="submit" name="save" value="${lang("save")}">
      </if> 
      </span>
    </td>
    </tr>
  </table>
</form>
  <if passwordonly>
    <call showBack("")>
  <else>
    <call showBack("module=Users&amp;do=list")>
  </if>

  <include "foot.template">

</body>
</html>
