<html>
  <head>
    <title>${config["Mir.Name"]} | ${lang("userlist.htmltitle")}</title>
    <link rel="stylesheet" type="text/css" href="${config.docRoot}/style/admin.css">
  </head>

  <body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
    <include "templates/admin/head.template">
    <p>
      <a class="majorcommand" href="${config.actionRoot}?module=Users&do=add">${lang("add")}</a> | 
      <a class="majorcommand" href="${config.actionRoot}?module=Admin&do=superusermenu">${lang("back")}</a>
    </p>

    <if data.contentlist>
      <table border="0" cellpadding="2" cellspacing="1">
        <tr class="darkgrey">
          <td><span class="witesmall"><b>${lang("user.login")}</b></span></td>
          <td><span class="witesmall"><b>${lang("user.admin")}</b></span></td>
        </tr>

        <list data.contentlist as entry>
          <if grey=="1"><assign grey="0"><tr class="list1"><else><tr class="list2"><assign grey="1"> </if>
            <td>${entry.login}&nbsp;</td>
            <td>${entry.is_admin}&nbsp;</td>
            <td><span class="text">
                   <a href="${config.actionRoot}?module=Users&do=delete&id=${entry.id}">${lang("delete")}</a>
                 | <a href="${config.actionRoot}?module=Users&do=edit&id=${entry.id}">${lang("edit")}</a>
            </span></td>
          </tr>
        </list>
        <tr>
          <td colspan="3" class="darkgrey"><span class="witetext">
            ${data.count} ${lang("records")} /  ${lang("show_from_to", data.from, data.to)}
          </span></td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <p>

      <if data.prev>
        <a href="${actionRoot}?module=Users&do=list&where=${where}&prevoffset=${prev}&prev=zur&uuml;ck">${lang("list.previous")}</a>&nbsp;
      </if>
      <if data.next>
        <a href="${actionRoot}?module=Users&do=list&where=${where}&nextoffset=${next}&next=weiter">${lang("list.next")}</a>
      </if>
      </p>
    <else>
      <p align="center">${lang("no_matches_found")}</p>
    </if>

    <p>
      <a class="majorcommand" href="${config.actionRoot}?module=Users&do=add">${lang("add")}</a> |
      <a class="majorcommand" href="${config.actionRoot}?module=Admin&do=superusermenu">${lang("back")}</a>
    </p>

    <include "templates/admin/foot.template">
  </body>
</html>


