<html>
<head>
<title>
^tablename
</title>
<head>

<body bgcolor="#FFFFFF">
<include "head.template">
<form method="post" action="${actionRoot}">
	<input type=hidden name=module value=^tablename_javastyle>
	<input type="hidden" name="id" value="${id}">
	<if new>
		<input type="hidden" name="do" value="insert">
	<else>
		<input type="hidden" name="do" value="update">
	</if>
<table border="0">


<!list metadata>
  <tr> 
    <td align="right" bgcolor="#000000"><font color="#ffffff"><B>^metadata.name :</B></font></td>
    <td>
      <input type="text" size="40" name="^metadata.name" value="${^metadata.name}">
    </td>
  </tr>
<end-list>
  
  
  <tr> 
    <td colspan="2" align="right"> <font color="#ffffff"><if new> 
      <input type="submit" name="save" value="einfügen">
    <else> 
    <input type="submit" name="save" value="speichern">
    </if> </font></form></font>
    </td>
  <tr>
</table>
<include "foot.template">
</body>
</html>
